body { padding-top: 70px; }

.navbar, .btn-save{
  background-color: #00979C;
  color: #ffffff;
}

.navbar-inverse .navbar-nav>li>a{
  color: #ffffff;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{
  background-color: #008184;
  color: #ffffff;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{
  border-color: #008184;
}

.navbar-brand img{
  margin-top: -14px;
}

.kettles h3{
    color: #777;
}

.kettles ul{
  border: 1px solid #777;
  border-radius: 25px;
}

.kettles li{
  list-style-type: none;
  margin: 1em;
}

.settings input, .kettles .temp, .kettles .timer{
  font-size: 22px;
  color: #777;
  width: 75px;
}

.fa-times-circle{
  color: #d9534f;
  cursor: pointer;
}

.fa-check-circle{
  color: #5cb85c;
  cursor: pointer;
}
