body { padding-top: 70px; }

.navbar, .btn-save{
  background-color: #00979C;
  color: #ffffff;
}

.navbar-inverse .navbar-nav>li>a{
  color: #ffffff;
}

.navbar-inverse .navbar-nav>.active>a
  , .navbar-inverse .navbar-nav>.active>a:focus
  , .navbar-inverse .navbar-nav>.active>a:hover
  , .modal-header {
  background-color: #008184;
  color: #ffffff;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{
  border-color: #008184;
}

.navbar-brand img{
  margin-top: -14px;
}

.kettles ul{
  padding: 10px;
}

.kettles h3{
    color: #777;
}

.kettles ul{
  border: 1px solid #777;
  border-radius: 25px;
}

.kettles li{
  list-style-type: none;
  margin: 10px;
}

.kettles label{
  font-size: 16px;
}

.settings .panel-heading{
  height: 70px;
}

.settings .panel-heading strong{
  font-size: 16px;
}

.settings input[type=number], .kettles .temp, .kettles .timer{
  font-size: 22px;
  color: #777;
  width: 60px;
}

.kettles .temp.high {
  font-size: 24px;
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
  padding: 5px;
  border-radius: 10px;
}

.kettles .temp.low {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
  padding: 5px;
  border-radius: 10px;
}

.fa-stop-circle{
  color: #d9534f;
  cursor: pointer;
}

.fa-play-circle{
  color: #5cb85c;
  cursor: pointer;
}

.fa-plus-circle, .fa-minus-circle {
  color: #00979C;
  cursor: pointer;
}

.fa-plus-circle:hover, .fa-minus-circle:hover {
  color: #008184;
}

input[type=radio].with-font {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

input[type=radio].with-font + label:before {
    font-family: FontAwesome;
    display: inline-block;
    content: "\f1db";
    letter-spacing: 10px;
    font-size: 2.2em;
    color: #535353;
}
input[type=radio].with-font:checked + label:before {
    content: "\f00c";
    font-size: 2.2em;
    color: darkgreen;
    letter-spacing: 5px;
    width: 35px: 5px;
}
