/*body { padding-top: 70px; }*/

html {
  position: relative;
  min-height: 100%;
  /*background-color: #2a2730;*/
}

body {
  font-family: 'Open Sans',sans-serif;
  font-weight: 300;
  line-height: 145%;
  margin: 0 0 110px 0;
  color: #161b1f;
}

.navbar {
  background-color: #337ab7;
  color: #ffffff;
  min-height: 50px;
  margin-bottom: 20px;
}

.navbar-inverse .navbar-nav>li>a{
  color: #ffffff;
}

.navbar-inverse .navbar-nav>.active>a
  , .navbar-inverse .navbar-nav>.active>a:focus
  , .navbar-inverse .navbar-nav>.active>a:hover
  , .modal-header {
  background-color: #2e6da4;
  color: #ffffff;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  color: #99979c;
  background-color: #2a2730;
}

.footer .container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.footer .links {
  padding-left: 0;
  margin-bottom: 5px;
  color: #fff;
}

.footer .links a{
  color: #fff;
}

.footer .links li{
  display: inline-block;
  padding-right: 15px;
}

.main-container{
    padding-top: 60px;
}

.alert {
  position: absolute;
  width: 98%;
}

.modal-header a {
  color:#e5e5e5;
  font-size: 16px;
}

.btn-link, .btn-link:hover{
  color: #333;
}

#dataModal-hops .modal-body, #dataModal-grains .modal-body{
  max-height: calc(100vh - 185px);
    overflow-y: auto;
}

.modal-header .close {
    margin-top: -13px;
    color: #e5e5e5;
    font-size: 35px;
    opacity: 0.6;
}

.modal-header .close:hover {
    opacity: 1;
}

.modal-link {
  padding-top: 0!important;
  padding-bottom: 0!important;
  margin-top: 10px;
}

sup.ref{
  color: #777;
  font-family: cursive;
}

.modal h1 sup{
  color: #e5e5e5;
  font-family: cursive;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{
  border-color: #008184;
}

.navbar-brand img{
  margin-top: -14px;
}
.settings h3, .kettles .type {
    cursor: pointer;
}

.recipe h3, .settings h3, .kettles h3{
    color: #777;
    display: inline;
}

.settings ul, .kettles ul{
  padding: 10px;
}

.settings ul>li, .kettles ul>li{
  list-style-type: none;
  margin: 10px;
}

.kettles .scrollable-menu {
    height: auto;
    max-height: 200px;
    width: 250px;
    overflow-x: hidden;
}

.kettles .scrollable-menu>li>a {
  word-wrap: break-word;
  word-break: break-word;
  white-space: normal;
}

.kettles .btn.add-timer {
  padding-top: 0;
  padding-bottom: 0;
}

.left{
  text-align: left;
}

.right{
  text-align: right;
}

.panel-heading .left .digital{
  padding-top: 5px;
}

.panel-heading .left .digital .btn-group{
  padding-bottom: 7px;
}

.panel-heading strong{
  font-size: 16px;
}

.settings input[type=number],
.kettles input[type=number],
.kettles .temp, .kettles .timer, .settings .poll
 {
  font-size: 22px;
  color: #777;
  width: 75px;
}

.kettles .timers .timer{
  padding-right: 15px;
}

.kettles .timers .count-up {
  padding-right: 15px;
  font-size: 22px;
  color: rgba(200,47,47,1);
  cursor: pointer;
}

.kettles .timers .timer-secs {
  color: #777;
  font-size: 16px;
}

.kettles .timers .timer-secs-up {
  color: rgba(200,47,47,1);
  font-size: 16px;
  cursor: pointer;
}

.kettles .temp-row{
  min-width: 175px;
}
.kettles ul.dropdown-menu{
  padding: none;
}

.kettles ul.dropdown-menu>li{
  font-size: 18px;
  margin: none;
}

.settings input[type=text], .modal input{
  font-size: 22px;
  color: #777;
  width: 100%;
}

.kettles input[type=text]{
  font-size: 20px;
  color: #777;
  width: 150px;
}

.kettles .editable {
  height: 34px;
}

label.adjust{
  display: block;
  text-transform: uppercase;
  color: #333;
  font-weight: 400;
  letter-spacing: .2em;
  padding-top: 10px;
  padding-bottom: 0;
  font-size: 13px;
}

sup.queue, .fa-clock-o{
  color: #F0AD4F;
}

label.notes {
  color: #777;
  font-weight: 400;
  letter-spacing: .2em;
  font-size: 13px;
}

.fa-stop-circle, .fa-times-circle{
  color: rgba(200,47,47,1);
  cursor: pointer;
}

.fa-play-circle{
  color: rgba(73,163,127,1);
  cursor: pointer;
}

.label-success {
  background-color: rgba(73,163,127,1);
}

.fa-fire.on{
  color: #ffa556;
  cursor: pointer;
}

.fa-fire.off{
  color: #777;
  cursor: pointer;
}

.fa-stack {
    position: relative;
    display: inline-block;
    width: 2em;
    height: 2em;
    line-height: 2em;
    top: 9px;
    vertical-align: baseline;
}

.degree label {
  padding-right: 5px;
}

input[type=radio].degree {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

input[type=radio].degree + label:before {
    font-family: FontAwesome;
    display: inline-block;
    content: "\f1db";
    letter-spacing: 10px;
    font-size: 1.8em;
    color: #535353;
}
input[type=radio].degree:checked + label:before {
    content: "\f00c";
    font-size: 1.8em;
    color: rgba(73,163,127,1);
    letter-spacing: 5px;
    width: 35px: 5px;
}

.notifications .on:after {
  font-family: FontAwesome;
  display:inline-block;
  content: "\f00c";
  letter-spacing: 5px;
  font-size: 1.6em;
  color: rgba(73,163,127,1);
  padding-left: 5px;
}

.digital .heat.running, .digital .pump.running{
  color: #d9534f;
}

.digital .label, .digital .heat, .digital .pump{
  cursor: pointer;
  font-size: 14px;
}

.digital {
  padding-top: 10px;
}

.fa.fa-chevron-up, .fa.fa-chevron-down {
  color:rgba(200,47,47,.4);
  cursor: pointer;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#importModal .alert {
  position: relative;
  width: 100%;
  margin-top: 10px;
}

@media (max-width: 767px) {

  .alert {
    width: 94%;
  }

  .main-container.kettles-0{
      padding-top: 80px;
  }

  .main-container.kettles-1{
      padding-top: 120px;
  }

  .main-container.kettles-2{
      padding-top: 160px;
  }

  .main-container.kettles-3{
      padding-top: 200px;
  }

  .main-container.kettles-4{
      padding-top: 240px;
  }

  .main-container.kettles-5{
      padding-top: 280px;
  }

}
