<!-- Modal -->
<div class="modal fade" id="aboutModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">BrewBench.co</h4>
        <img src="img/brewbench-logo.png" class="pull-right"/>
      </div>
      <div class="modal-body text-center">
        <a href="https://github.com/brewbench" target="_blank">BrewBench</a> is a brew monitor and controller.
        <br/>Developed by <a href="http://www.andrewvantassel.com" target="_blank">Andrew Van Tassel</a> and <a href="http://www.leekendrick.info" target="_blank">Lee Kendrick</a> &copy;2016.
        <br/>Made with <img src="img/beer.png" width="45"> from Colorado
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <a type="button" class="btn btn-primary" target="_blank" href="https://twitter.com/andrewvantassel">Contact</a>
      </div>
    </div>
  </div>
</div>
