<!-- Modal -->
<div class="modal fade" id="dataModal-hops" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
        <h1 class="modal-title"><img src="img/hop.svg" width="55"/> Hop <sup class="ref">Reference</sup></h1>
        <input ng-model="searchHops" placeholder="Search Hops">
      </div>
      <div class="modal-body">
        <table class="table table-hover">
          <tr>
            <th>Hop</th>
            <th>Alpha Acid</th>
            <th>Substitutions</th>
            <th>Description</th>
          </tr>
          <tr ng-repeat="hop in hops | filter:searchHops">
            <td>{{hop.name}}</td>
            <td>{{hop.alpha_acid}}</td>
            <td>{{hop.substitutions}}</td>
            <td>{{hop.description}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="dataModal-grains" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
        <h1 class="modal-title"><img src="img/grain.svg" width="55"/> Grain <sup class="ref">Reference</sup></h1>
        <input ng-model="searchGrains" placeholder="Search Grains">
      </div>
      <div class="modal-body">
        <table class="table table-hover">
          <tr>
            <th>Grain</th>
            <th>Lovibond</th>
            <th>Gravity</th>
            <th>Description</th>
          </tr>
          <tr ng-repeat="grain in grains | filter:searchGrains">
            <td>{{grain.name}}</td>
            <td>{{grain.lovibond}}</td>
            <td>{{grain.gravity}}</td>
            <td>{{grain.description}}
              <div style="float:right; clear: both; width:32px; height:32px; background-color: {{getLovibondColor(grain.lovibond)}}"></div>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
