<div class="kettles col-md-{{kettles.length==5?2:12/kettles.length}}" ng-repeat="kettle in kettles track by $index" id="kettle{{$index}}">

  <div class="panel panel-default">
    <div class="panel-heading" ng-swipe-left="showRemoveKettle = true" ng-swipe-right="showRemoveKettle = false">
      <div class="left"><h3><editable type="text" model="kettle.key"></editable></h3>
        <div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            A{{kettle.pin}} <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li ng-repeat="p in [0,1,2,3,4,5] track by $index"><a href="#" ng-click="kettle.pin=p" ng-if="p != kettle.pin">A{{p}}</a></li>
          </ul>
        </div>
        <div class="digital row">
          <div class="item col-md-6 col-xs-6">
            <strong class="heat">Heat</strong>
            <div class="btn-group">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                D{{kettle.heater.pin}} <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li ng-repeat="p in [2,3,4,5,6,7,8,9,10,11,12,13] track by $index"><a href="#" ng-click="kettle.heater.pin=p" ng-if="p != kettle.heater.pin">D{{p}}</a></li>
              </ul>
            </div>
            <br/>
            <span class="label" ng-class="{'label-default':!kettle.heater.running&&!kettle.heater.auto,'label-success':kettle.heater.running,'label-warning':!kettle.heater.running&&kettle.heater.auto}" ng-click="toggleKettle('heat',kettle)">{{kettle.heater.running ? 'On' : (kettle.heater.auto ? 'Wait' :'Off')}}</span>
            <span class="label" ng-class="{'label-default':!kettle.heater.auto,'label-success':kettle.heater.auto}" ng-click="kettle.heater.auto=!kettle.heater.auto">Auto</span>
          </div>
          <div class="item col-md-6 col-xs-6">
            <strong class="pump">Pump</strong>
            <div class="btn-group">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                D{{kettle.pump.pin}} <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li ng-repeat="p in [2,3,4,5,6,7,8,9,10,11,12,13] track by $index"><a href="#" ng-click="kettle.pump.pin=p" ng-if="p != kettle.pump.pin">D{{p}}</a></li>
              </ul>
            </div>
            <br/>
            <span class="label" ng-class="{'label-default':!kettle.pump.running&&!kettle.pump.auto,'label-success':kettle.pump.running,'label-warning':!kettle.pump.running&&kettle.pump.auto}" ng-click="toggleKettle('pump',kettle)">{{kettle.pump.running ? 'On' : (kettle.pump.auto ? 'Wait' :'Off')}}</span>
            <span class="label" ng-class="{'label-default':!kettle.pump.auto,'label-success':kettle.pump.auto}" ng-click="kettle.pump.auto=!kettle.pump.auto">Auto</span>
          </div>
        </div>
      </div>
      <div ng-show="!showRemoveKettle" class="right">
        <i class="fa fa-4x" ng-click="startStopKettle(kettle)" ng-class="{'fa-stop-circle':kettle.active,'fa-play-circle':!kettle.active}"></i>
      </div>
      <div ng-show="showRemoveKettle" class="remove right"><button class="btn btn-danger" ng-click="showRemoveKettle=false;kettles.splice($index,1)">Remove Kettle</button></div>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-7 col-xs-7">
          <ui-knob value="kettle.temp.current" options="kettle.knob"></ui-knob>
        </div>
        <div class="col-md-5 col-xs-5 grid">
          <div class="row temp-row">
              <div class="col-md-12 col-xs-12">
                <div class="btn-group pull-right" role="group">
                  <label class="adjust">Target</label>
                  <button type="button" class="btn btn-default" style="width:62px;"><editable type="number" model="kettle.temp.target">{{kettle.temp.target}}</editable>&deg;{{settings.unit}}</button>
                  <button type="button" class="btn btn-default" ng-click="changeValue(kettle,'target',false)"><i class="fa fa-minus fa-lg"></i></button>
                  <button type="button" class="btn btn-default" ng-click="changeValue(kettle,'target',true)"><i class="fa fa-plus fa-lg"></i></button>
                </div>
              </div>
            </div>
            <div class="row temp-row">
              <div class="col-md-12 col-xs-12">
                <div class="btn-group pull-right" role="group">
                  <label class="adjust">Diff</label>
                  <button type="button" class="btn btn-default" style="width:62px;"><editable type="number" model="kettle.temp.diff">{{kettle.temp.diff}}</editable>&deg;{{settings.unit}}</button>
                  <button type="button" class="btn btn-default" ng-click="changeValue(kettle,'diff',false)"><i class="fa fa-minus fa-lg"></i></button>
                  <button type="button" class="btn btn-default" ng-click="changeValue(kettle,'diff',true)"><i class="fa fa-plus fa-lg"></i></button>
                </div>
              </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-xs-12">
          <div class="btn-group pull-right" role="group">
            <button type="button" class="btn btn-default add-timer" ng-click="addTimer(kettle)"><img src="img/grain.svg" width="32"></button>
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></button>
            <ul class="dropdown-menu scrollable-menu">
              <li><a href="#" ng-click="addTimer(kettle,{label:'Whirlfloc',min:10})">Whirlfloc</a></li>
              <li ng-repeat="grain in grains">
                <a href="#" ng-click="addTimer(kettle,{label:grain.name,min:60})">{{grain.name}}</a>
              </li>
            </ul>
          </div>
          <div class="btn-group pull-right" role="group">
            <button type="button" class="btn btn-default add-timer" ng-click="addTimer(kettle)"><img src="img/hop.svg" width="32"></button>
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></button>
            <ul class="dropdown-menu scrollable-menu">
              <li ng-repeat="hop in hops">
                <a href="#" ng-click="addTimer(kettle,{label:hop.name,min:30})">{{hop.name}}</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row timers">
        <div class="col-md-12 col-xs-12">
          <ul>
            <li ng-repeat="timer in kettle.timers track by $index">
            <label class="adjust"><editable model="timer.label"></editable></label>
            <div class="input-group" role="group">
              <editable class="timer" type="number" model="timer.min"></editable><span class="timer-secs" ng-if="timer.running && !timer.up">: {{timer.sec}}</span>
              <span class="count-up" ng-show="timer.up" ng-click="timerStart(timer)">{{timer.up.min}}</span><span ng-if="timer.up" class="timer-secs-up">: {{timer.up.sec}}</span>
              <span class="input-group-btn">
                <button type="button" class="btn btn-default"><i class="fa fa-minus fa-lg" ng-click="timer.min=timer.min-1"></i></button>
                <button type="button" class="btn btn-default"><i class="fa fa-plus fa-lg" ng-click="timer.min=timer.min+1"></i></button>
                <button type="button" class="btn btn-default"><i class="fa fa-lg" ng-click="timerStart(timer)" ng-class="{'fa-stop-circle':timer.running,'fa-play-circle':!timer.running}"></i></button>
                <button type="button" class="btn btn-default"><i class="fa fa-trash fa-lg" ng-click="kettle.timers.splice($index, 1);"></i></button>
              </span>
            </div>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </div>

</div>
