<div class="kettles col-md-{{kettles.length==5?2:12/kettles.length}}" ng-repeat="kettle in kettles track by $index" id="kettle{{$index}}">

  <div class="panel panel-default">
    <div class="panel-heading" ng-swipe-left="showRemoveKettle = true" ng-swipe-right="showRemoveKettle = false">
      <div class="left"><h3><editable model="kettle.key">{{kettle.key}}</editable></h3>
        <div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            A{{kettle.pin}} <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li ng-repeat="p in [0,1,2,3,4,5] track by $index"><a href="#" ng-click="kettle.pin=p" ng-if="p != kettle.pin">A{{p}}</a></li>
          </ul>
        </div>
        <div class="digital row">
          <div class="item col-md-6 col-xs-6">
            <strong class="heat">Heat</strong>
            <div class="btn-group">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                D{{kettle.heater.pin}} <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li ng-repeat="p in [2,3,4,5,6,7,8,9,10,11,12,13] track by $index"><a href="#" ng-click="kettle.heater.pin=p" ng-if="p != kettle.heater.pin">D{{p}}</a></li>
              </ul>
            </div>
            <br/>
            <span class="label" ng-class="{'label-default':!kettle.heater.running&&!kettle.heater.auto,'label-success':kettle.heater.running,'label-warning':!kettle.heater.running&&kettle.heater.auto}" ng-click="toggleKettle('heat',kettle)">{{kettle.heater.running ? 'On' : (kettle.heater.auto ? 'Wait' :'Off')}}</span>
            <span class="label" ng-class="{'label-default':!kettle.heater.auto,'label-success':kettle.heater.auto}" ng-click="kettle.heater.auto=!kettle.heater.auto">Auto</span>
          </div>
          <div class="item col-md-6 col-xs-6">
            <strong class="pump">Pump</strong>
            <div class="btn-group">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                D{{kettle.pump.pin}} <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li ng-repeat="p in [2,3,4,5,6,7,8,9,10,11,12,13] track by $index"><a href="#" ng-click="kettle.pump.pin=p" ng-if="p != kettle.pump.pin">D{{p}}</a></li>
              </ul>
            </div>
            <br/>
            <span class="label" ng-class="{'label-default':!kettle.pump.running&&!kettle.pump.auto,'label-success':kettle.pump.running,'label-warning':!kettle.pump.running&&kettle.pump.auto}" ng-click="toggleKettle('pump',kettle)">{{kettle.pump.running ? 'On' : (kettle.pump.auto ? 'Wait' :'Off')}}</span>
            <span class="label" ng-class="{'label-default':!kettle.pump.auto,'label-success':kettle.pump.auto}" ng-click="kettle.pump.auto=!kettle.pump.auto">Auto</span>
          </div>
        </div>
      </div>
      <div ng-show="!showRemoveKettle" class="right">
        <i class="fa fa-4x" ng-click="startStopKettle(kettle)" ng-class="{'fa-stop-circle':kettle.active,'fa-play-circle':!kettle.active}"></i>
      </div>
      <div ng-show="showRemoveKettle" class="remove right"><button class="btn btn-danger" ng-click="showRemoveKettle=false;kettles.splice($index,1)">Remove Kettle</button></div>
    </div>
    <div class="panel-body">
      <ul>
        <li>
          <label>Current Temp:</label> <span class="temp" ng-class="{'high':kettle.high,'low':kettle.low}">{{kettle.temp.current}}&deg;{{settings.unit}}</span>
        </li>
        <li>
          <label>Target Temp:</label> <input type="number" ng-model="kettles[$index].temp.target"> &deg;{{settings.unit}}
          <br><i class="fa fa-minus-circle fa-4x" ng-click="changeValue($index,'target',false)"></i> <i class="fa fa-plus-circle fa-4x" ng-click="changeValue($index,'target',true)"></i>
        </li>
        <li>
          <label>Alert Diff:</label>
          <input type="number" ng-model="kettles[$index].temp.diff"> &deg;{{settings.unit}}
          <br><i class="fa fa-minus-circle fa-4x" ng-click="changeValue($index,'diff',false)"></i> <i class="fa fa-plus-circle fa-4x" ng-click="changeValue($index,'diff',true)"></i>
        </li>
        <li ng-if="kettle.timer" ng-swipe-left="showRemoveTimer = true" ng-swipe-right="showRemoveTimer = false">
          <label>Time:</label> <input type="number" ng-model="kettles[$index].timer.min" steps="5"> minutes
          <i class="fa fa-4x" ng-click="timerStart($index)" ng-class="{'fa-stop-circle':kettle.timer.running,'fa-play-circle':!kettle.timer.running}"></i>
          <span class="timer">{{kettles[$index].timer.min}}:{{kettles[$index].timer.sec}}</span>
          <br><i class="fa fa-minus-circle fa-4x" ng-click="kettle.timer.min=kettle.timer.min-1"></i> <i class="fa fa-plus-circle fa-4x" ng-click="kettle.timer.min=kettle.timer.min+1"></i>
          <button ng-show="showRemoveTimer" class="btn btn-danger pull-right" ng-click="kettle.timer=null;">Remove Timer</button>
        </li>
        <li ng-if="!kettle.timer">
          <button class="btn btn-default" ng-click="kettle.timer={min:60,sec:0,running:false};">Add Timer</button>
        </li>
      </ul>
    </div>

  </div>

</div>
