<ng-include src="'views/header.html'"></ng-include>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-8">
      <nvd3 options="chartOptions" data="kettles"></nvd3>
    </div>
    <div class="col-md-4">
      <ng-include src="'views/settings.html'"></ng-include>
    </div>
  </div>
  <div class="row">
    <ng-include src="'views/kettles.html'"></ng-include>
  </div>
</div>

<ng-include src="'views/data.html'"></ng-include>
<ng-include src="'views/about.html'"></ng-include>
<ng-include src="'views/footer.html'"></ng-include>
