<ng-include src="'views/header.html'"></ng-include>

<div class="container-fluid main-container kettles-{{activeKettles()}}">
  <div class="row">
    <div class="col-md-8">

      <div class="alert alert-danger alert-dismissible" role="alert" ng-if="error_message">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Doh!</strong> {{error_message}}
      </div>

      <nvd3 options="chartOptions" data="kettles"></nvd3>
    </div>
    <div class="col-md-4">
      <ng-include src="'views/settings.html'"></ng-include>
    </div>
  </div>
  <div class="row">
    <ng-include src="'views/recipe.html'"></ng-include>
  </div>
  <div class="row">
    <ng-include src="'views/kettles.html'"></ng-include>
  </div>
</div>

<ng-include src="'views/import.html'"></ng-include>
<ng-include src="'views/data.html'"></ng-include>
<ng-include src="'views/calc.html'"></ng-include>
<ng-include src="'views/about.html'"></ng-include>
<ng-include src="'views/footer.html'"></ng-include>
