<div id="settings" class="settings">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="left">
        <h3>Settings</h3>
      </div>
      <div class="right row">
        <div class="col-md-3 col-xs-3">
          <input id="celsius" class="with-font" type="radio" ng-model="settings.unit" value="C" ng-click="changeUnits('C')"> <label for="celsius">&deg;C</label>
        </div>
        <div class="col-md-3 col-xs-3">
          <input id="fahrenheit" class="with-font" type="radio" ng-model="settings.unit" value="F" ng-click="changeUnits('F')"> <label for="fahrenheit">&deg;F</label>
        </div>
        <div class="col-md-3 col-xs-3">
          <span class="fa-stack fa-lg" ng-click="settings.sound = !settings.sound">
            <i class="fa fa-volume-up fa-stack-1x"></i>
            <i class="fa fa-ban fa-stack-2x text-danger" ng-show="!settings.sound"></i>
          </span>
        </div>
        <div class="col-md-3 col-xs-3">
          <span class="fa-stack fa-lg" ng-click="settings.notifications = !settings.notifications">
            <i class="fa fa-bell fa-stack-1x"></i>
            <i class="fa fa-ban fa-stack-2x text-danger" ng-show="!settings.notifications"></i>
          </span>
        </div>
      </div>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-8 col-xs-8">
          <label class="adjust">Arduino URL</label>
          <h3><editable model="settings.arduinoUrl"></editable></h3>

          <label class="adjust">Poll every</label>
          <div class="input-group" role="group">
          <editable class="poll" type="number" model="settings.pollSeconds"></editable>
          <span class="input-group-btn">
            <button type="button" class="btn btn-default"><i class="fa fa-minus fa-lg" ng-click="settings.pollSeconds=settings.pollSeconds-1"></i></button>
            <button type="button" class="btn btn-default"><i class="fa fa-plus fa-lg" ng-click="settings.pollSeconds=settings.pollSeconds+1"></i></button>
          </span>
          </div>
        </div>
        <div class="col-md-4 col-xs-4">
          <div class="btn-group-vertical pull-right" role="group">
            <button class="btn btn-primary" ng-click="addKettle()">Add Kettle</button>
            <button class="btn btn-warning" ng-click="tempAlert()">Test Alerts</button>
            <button class="btn btn-default" ng-click="clearKettles()"><i class="fa fa-trash"></i> Settings</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <button type="button" class="btn btn-default btn-save btn-lg btn-block" ng-click="SaveSettings()">Save</button> -->
