<div class="settings">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3>Settings</h3>
      <div class="pull-right">
        <input id="celsius" class="with-font" type="radio" ng-model="settings.unit" value="C" ng-click="changeUnits('C')"> <label for="celsius">&deg;C</label>
        <input id="fahrenheit" class="with-font" type="radio" ng-model="settings.unit" value="F" ng-click="changeUnits('F')"> <label for="fahrenheit">&deg;F</label>
        &nbsp;&nbsp;&nbsp;
        <span class="fa-stack fa-lg" ng-click="settings.sound = !settings.sound">
          <i class="fa fa-volume-up fa-stack-1x"></i>
          <i class="fa fa-ban fa-stack-2x text-danger" ng-show="!settings.sound"></i>
        </span>
        <span class="fa-stack fa-lg" ng-click="settings.notifications = !settings.notifications">
          <i class="fa fa-bell fa-stack-1x"></i>
          <i class="fa fa-ban fa-stack-2x text-danger" ng-show="!settings.notifications"></i>
        </span>
      </div>
    </div>
    <div class="panel-body">
      <ul>
        <li>
          <h3><editable model="settings.arduinoUrl">{{settings.arduinoUrl}}</editable></h3>
        </li>
        <li>Poll every <input type="number" ng-model="settings.pollSeconds" min="5" max="60"> seconds.
          <br><i class="fa fa-minus-circle fa-4x" ng-click="settings.pollSeconds=settings.pollSeconds-1"></i> <i class="fa fa-plus-circle fa-4x" ng-click="settings.pollSeconds=settings.pollSeconds+1"></i>
        </li>
        <li style="text-align:center;">
          <button class="btn btn-primary" ng-click="addKettle()">Add Kettle</button>
          <button class="btn btn-warning" ng-click="tempAlert()">Test Alerts</button>
          <button class="btn btn-default" ng-click="clearKettles()"><i class="fa fa-trash"></i></button>          
        </li>
      </ul>
    </div>
  </div>
</div>

<!-- <button type="button" class="btn btn-default btn-save btn-lg btn-block" ng-click="SaveSettings()">Save</button> -->
