html {
  position: relative;
  min-height: 100%;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  line-height: 145%;
  margin: 0 0 110px 0;
  color: #161b1f;
}
.main {
  position: relative;
  top: 80px;
}
.navbar {
  background-color: #337ab7;
  color: #fff;
}
.navbar-header .navbar-brand img {
  margin-top: -12px;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover, .modal-header {
  background-color: #2e6da4;
  color: #fff;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  color: #99979c;
  background-color: #2a2730;
}
.footer .container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.footer .links {
  padding-left: 0;
  margin-bottom: 5px;
  color: #fff;
}
.footer .links a {
  color: #fff;
}
.footer .links li {
  display: inline-block;
  padding-right: 15px;
}
.main-container {
  padding-top: 60px;
}
.main-container .share {
  position: relative;
  text-align: center;
  margin-left: 10px;
}
.main-container .share form {
  text-align: center;
  position: relative;
  display: block;
  width: 300px;
  margin: 0 auto;
}
.disabled {
  opacity: 0.5;
  pointer-events: none;
}
.disabled > * {
  opacity: 0.5;
  pointer-events: none;
}
.modal-header a {
  color: #e5e5e5;
  font-size: 16px;
}
.btn-link, .btn-link:hover {
  color: #333;
}
#dataModal-hops .modal-body, #dataModal-grains .modal-body, #dataModal-water .modal-body {
  max-height: calc(100vh - 185px);
  overflow-y: auto;
}
.modal-body .form-horizontal {
  padding: 15px;
}
.modal-body .form-horizontal input, .modal-body .form-horizontal select {
  height: 35px;
}
.modal-body .alert {
  position: inherit;
}
.modal-header .close {
  margin-top: -13px;
  color: #e5e5e5;
  font-size: 35px;
  opacity: 0.6;
}
.modal-header .close:hover {
  opacity: 1;
}
.modal-link {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  margin-top: 10px;
}
sup.ref {
  color: #777;
  font-family: cursive;
}
.modal h1 sup {
  color: #e5e5e5;
  font-family: cursive;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  border-color: #008184;
}
.navbar-brand img {
  margin-top: -14px;
}
.editable {
  cursor: pointer;
}
.recipe h2 {
  margin-top: 0px;
}
.recipe h3, .kettles h3 {
  color: #777;
  display: inline-block;
}
.recipe ul {
  list-style: none;
}
.kettles ul {
  padding: 10px;
}
.kettles ul.dropdown-menu {
  height: auto;
  max-height: 180px;
  overflow-x: hidden;
}
.kettles ul > li {
  list-style-type: none;
  margin: 4px;
}
.kettles .dropdown-header {
  display: block;
  padding: 0.2rem 0.2rem;
  margin-bottom: 0;
  font-size: 1.4rem;
  color: #868e96;
  white-space: nowrap;
  text-align: center;
}
.kettles .alert {
  position: relative;
  width: 100%;
  word-wrap: break-word;
}
.kettles .kettle-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.kettles .kettle-row .kettle-head {
  flex: auto;
}
.kettles .kettle-col {
  display: flex;
  flex-direction: column;
  flex: auto;
}
.kettles .kettle-col .rzslider {
  max-width: 150px !important;
}
.kettles .kettle-col .relay .btn-default {
  background-color: #ddd;
}
.kettles .scrollable-menu {
  height: auto;
  max-height: 200px;
  width: 250px;
  overflow-x: hidden;
}
.kettles .scrollable-menu > li > a {
  word-wrap: break-word;
  word-break: break-word;
  white-space: normal;
}
.kettles .btn.add-timer {
  padding-top: 0;
  padding-bottom: 0;
}
.kettles .tempType {
  display: inline-block;
  position: relative;
  padding: 5px 0 0 5px;
}
.kettles .tempType span {
  margin-bottom: 4px;
  display: block;
}
.kettles .adjusted {
  color: #777;
  font-size: 14px;
  cursor: pointer;
}
.kettles .adjusted:hover {
  color: #d9534f;
}
.kettles .pininuse {
  color: #ccc;
}
.kettles .timers .timer-block {
  border-left: 5px solid #ccc;
  padding-left: 5px;
  margin-bottom: 10px;
}
.kettles .timers .timer-block.running {
  border-left: 5px solid rgba(73, 163, 127, 1);
}
.kettles .timers .timer-block.queue {
  border-left: 5px solid #f0ad4f;
}
.kettles .timers .timer-block.finished {
  border-left: 5px solid rgba(200, 47, 47, 1);
}
.kettles .timers .timer {
  padding-right: 15px;
}
.kettles .timers .count-up {
  padding-right: 15px;
  font-size: 22px;
  color: rgba(200, 47, 47, 1);
  cursor: pointer;
}
.kettles .timers .timer-secs {
  color: #777;
  font-size: 16px;
}
.kettles .timers .timer-secs-up {
  color: rgba(200, 47, 47, 1);
  font-size: 16px;
  cursor: pointer;
}
.kettles .temp-row {
  min-width: 175px;
}
.kettles ul.dropdown-menu {
  padding: none;
}
.kettles ul.dropdown-menu > li {
  font-size: 18px;
  margin: none;
}
.kettles input[type=text] {
  font-size: 20px;
  color: #777;
  width: 150px;
}
.kettles .editable {
  height: 34px;
  max-width: 200px;
  padding: 11px;
}
.kettles .editable:hover {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
}
.layout-list {
  padding-bottom: 45px;
}
.layout-list .ui.items:first-child {
  margin-top: 0 !important;
}
.layout-list .ui.items {
  margin: 1.5em 0;
}
.layout-list .ui.divided.items > .item:first-child {
  border-top: none;
  margin-top: 0 !important;
  padding-top: 0 !important;
}
.layout-list .ui.divided.items > .item {
  border-top: 1px solid rgba(34, 36, 38, .15);
  margin: 0;
  padding: 1em 0;
}
.layout-list .ui.items > .item:first-child {
  margin-top: 0;
}
.layout-list .ui.items > .item:last-child {
  margin-bottom: 25px;
}
.layout-list .ui.items > .item {
  font-size: 1em;
}
.layout-list .ui.items > .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1em 0;
  width: 100%;
  min-height: 0;
  background: 0 0;
  padding: 0;
  border: none;
  border-radius: 0;
  box-shadow: none;
  -webkit-transition: box-shadow 0.1s ease;
  transition: box-shadow 0.1s ease;
  z-index: '';
}
.layout-list .ui.ribbon.label {
  left: calc(1.8rem - 1.4em);
  margin-right: -1.2em;
  padding-left: 18px;
  padding-right: 1.2em;
}
.layout-list .ui.ribbon.label:after {
  content: none;
}
.layout-list .ui.ribbon.label {
  position: relative;
  margin: 0;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  border-radius: 5px;
  border-color: rgba(0, 0, 0, 0.15);
}
.layout-list .ui.items > .item > .image + .content {
  min-width: 0;
  width: auto;
  display: block;
  margin-left: 0;
  -ms-flex-item-align: top;
  -ms-grid-row-align: top;
  align-self: top;
  padding-left: 1.5em;
}
.layout-list .ui.items > .item > .content {
  display: block;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  background: 0 0;
  margin: 0;
  padding: 0;
  box-shadow: none;
  font-size: 1em;
  border: none;
  border-radius: 0;
}
.layout-list .ui.items > .item .meta {
  margin: 0.5em 0 0.5em;
  font-size: 1em;
  line-height: 1em;
  color: rgba(0, 0, 0, .6);
}
.layout-list .ui.items > .item > .content > .description {
  margin-top: 0.6em;
  max-width: auto;
  font-size: 1em;
  line-height: 1.4285em;
  color: rgba(0, 0, 0, .87);
}
.layout-list .ui.items > .item .extra {
  display: block;
  position: relative;
  background: 0 0;
  margin: 0.5rem 0 0;
  width: 100%;
  padding: 0 0 0;
  top: 0;
  left: 0;
  color: rgba(0, 0, 0, .4);
  box-shadow: none;
  -webkit-transition: color 0.1s ease;
  transition: color 0.1s ease;
  border-top: none;
}
.layout-list .kettles a.sticky {
    margin-left: 12px;
}

.sticky-layout .card {
  min-width: 100px;
  max-width: 110px;
}
.sticky-layout .sticky {
  position: absolute;
  top: 5px;
  right: 5px;
  border-radius: 0 0 0 10px;
  padding: 2px 5px 2px 8px;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin: -5px -5px 0 0;
}
.sticky-layout .sticky:hover {
  background-color: #e5e5e5;
}

.sticky-layout .temp {
  font-size: 50px;
  margin-top: 15px;
  text-align: center;
}
.sticky-layout .ui.card > .content, .sticky-layout .ui.cards > .card > .content {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  border: none;
  border-top: 1px solid rgba(34, 36, 38, .1);
  background: 0 0;
  margin: 0;
  padding: 1em 1em;
  box-shadow: none;
  font-size: 1em;
  border-radius: 0;
}
.sticky-layout .ui.card > :first-child, .sticky-layout .ui.cards > .card > :first-child {
  border-radius: 0.28571rem 0.28571rem 0 0 !important;
  border-top: none !important;
}
.sticky-layout .ui.card > .content > .header:not(.ui), .sticky-layout .ui.cards > .card > .content > .header:not(.ui) {
  font-weight: 700;
  font-size: 1.28571em;
  margin-top: -0.21425em;
  line-height: 1.28571em;
}
.sticky-layout .ui.card > .content > .header, .sticky-layout .ui.cards > .card > .content > .header {
  display: block;
  margin: '';
  font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
  color: rgba(0, 0, 0, .85);
}
.sticky-layout .ui.card > .content > .header + .description, .sticky-layout .ui.card > .content > .meta + .description, .sticky-layout .ui.cards > .card > .content > .header + .description, .sticky-layout .ui.cards > .card > .content > .meta + .description {
  margin-top: 0.5em;
}
.sticky-layout .ui.card > .content > .description, .sticky-layout .ui.cards > .card > .content > .description {
  clear: both;
  color: rgba(0, 0, 0, .68);
}
.sticky-layout .ui.card > .extra, .sticky-layout .ui.cards > .card > .extra {
  max-width: 100%;
  min-height: 0 !important;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  border-top: 1px solid rgba(0, 0, 0, .05) !important;
  position: static;
  background: 0 0;
  width: auto;
  margin: 0 0;
  padding: 0.75em 1em;
  top: 0;
  left: 0;
  color: rgba(0, 0, 0, .4);
  box-shadow: none;
  -webkit-transition: color 0.1s ease;
  transition: color 0.1s ease;
}
.left {
  text-align: left;
}
.right {
  text-align: right;
}
.panel-heading .left .digital {
  padding-top: 5px;
}
.panel-heading .left .digital .btn-group {
  padding-bottom: 7px;
}
.panel-heading strong {
  font-size: 16px;
}
.kettles input[type=number] .kettles .temp, .kettles .timer, .settings .poll {
  font-size: 20px;
  color: #777;
  width: 75px;
}
.settings select, .modal input {
  font-size: 20px;
  font-weight: lighter;
  color: #777;
  width: 100%;
}
.settings input[type=number] {
  font-size: 20px;
  color: #777;
  width: 65px;
}
.settings .btn.fermenter {
  padding: 8px 5px 8px 5px;
}
.settings .input-group-btn button {
  font-size: 20px;
}
.settings .row-new {
  clear: both;
}
.settings .fa-thermometer-quarter {
  padding: 0 5px 0 5px;
}
.settings ul {
  padding: 10px;
}
.settings h4 {
  color: #777;
  border-bottom: 1px solid #ccc;
  padding: 12px 0 12px 0;
}
.settings h4 .badge {
  font-size: 50%;
}
.settings .block-border {
  border-left: 4px solid #2e6da4;
  padding-left: 15px;
}
.settings ul > li {
  list-style-type: none;
  margin: 4px;
}
.settings .right label {
  cursor: pointer;
}
.settings .modal input {
  font-size: 20px;
  font-weight: lighter;
  color: #777;
  width: 74%;
  position: absolute;
}
.settings .item {
  position: relative;
  padding-right: 20px;
}
.settings .ui.circular.label, .settings .ui.circular.labels .label {
  min-width: 2em;
  min-height: 2em;
  padding: 0.5em !important;
  line-height: 1em;
  text-align: center;
  border-radius: 500rem;
  position: absolute;
  left: 50%;
  top: -10px;
  z-index: 10;
}
.settings .ui.blue.label, .settings .ui.blue.labels .label {
  background-color: #2185d0 !important;
  border-color: #2185d0 !important;
  color: #fff !important;
}
.settings a.ui.label {
  cursor: pointer;
}
.settings .ui.label, .settings .ui.labels .label {
  font-size: 0.85714rem;
}
.settings .ui.label {
  display: inline-block;
  line-height: 1;
  vertical-align: baseline;
  margin: 0 0.14286em;
  background-color: #e8e8e8;
  background-image: none;
  padding: 0.5833em 0.833em;
  color: rgba(0, 0, 0, .6);
  text-transform: none;
  font-weight: 700;
  border: 0 solid transparent;
  border-radius: 0.28571rem;
  -webkit-transition: background 0.1s ease;
  transition: background 0.1s ease;
}
label.adjust, a.adjust {
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  color: #333;
  font-weight: bold;
  letter-spacing: 0.2em;
  padding-top: 10px;
  padding-bottom: 0;
  font-size: 13px;
}
a.heat, label.heating, .high, .fa-circle.off {
  color: rgba(200, 47, 47, 1);
}
a.cool, label.cooling, .low {
  color: rgba(52, 152, 219, 1);
}
sup.queue, .fa-clock-o {
  color: #f0ad4f;
}
label.notes {
  color: #777;
  font-weight: 400;
  letter-spacing: 0.2em;
  font-size: 13px;
}
.fa-stop-circle, .fa-times-circle {
  color: rgba(200, 47, 47, 1);
  cursor: pointer;
}
.fa-play-circle {
  color: rgba(73, 163, 127, 1);
  cursor: pointer;
}
.label-success {
  background-color: rgba(73, 163, 127, 1);
}
.fa-check-circle, .fa-circle.on {
  color: rgba(73, 163, 127, 1);
}
.fa-fire.on {
  color: #ffa556;
  cursor: pointer;
}
.fa-fire.off {
  color: #777;
  cursor: pointer;
}
.fa-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  top: 9px;
  vertical-align: baseline;
}
.degree label {
  padding-right: 5px;
}
input[type=radio].degree {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
input[type=radio].degree + label:before {
  font-family: FontAwesome;
  display: inline-block;
  content: "\f1db";
  letter-spacing: 10px;
  font-size: 1.8em;
  color: #535353;
}
input[type=radio].degree:checked + label:before {
  content: "\f00c";
  font-size: 1.8em;
  color: rgba(73, 163, 127, 1);
  letter-spacing: 5px;
  width: 35px 5px;
}
li.ssr {
  border-bottom: 1px solid #ccc;
}
.notifications .on:after, li.ssr .on:after {
  font-family: FontAwesome;
  display: inline-block;
  content: "\f00c";
  letter-spacing: 5px;
  font-size: 1.6em;
  color: rgba(73, 163, 127, 1);
  padding-left: 5px;
}
.digital .heat.running, .digital .pump.running {
  color: #d9534f;
}
.label, .digital .heat, .digital .pump {
  cursor: pointer;
  font-size: 16px;
}
.digital {
  padding-top: 10px;
}
.fa.fa-chevron-up, .fa.fa-chevron-down {
  color: rgba(200, 47, 47, .4);
  cursor: pointer;
}
.fa-chevron-right, .fa-chevron-left {
  cursor: pointer;
  padding-left: 5px;
  color: rgba(119, 119, 119, .4);
}

.card-footer {
  height: 56px;
}

.fa-chevron-right, .fa-chevron-left{
  margin-top: 7px;
  padding-left: 15px;
}

.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}
#importModal .alert {
  position: relative;
  width: 100%;
  margin-top: 10px;
}
.nav-kettles {
  display: none;
}
@media (max-width: 767px) {
  .main-container.kettles-0 {
    padding-top: 80px;
  }
  .main-container.kettles-1 {
    padding-top: 120px;
  }
  .main-container.kettles-2 {
    padding-top: 160px;
  }
  .main-container.kettles-3 {
    padding-top: 200px;
  }
  .main-container.kettles-4 {
    padding-top: 240px;
  }
  .main-container.kettles-5 {
    padding-top: 280px;
  }
  .nav > li > a {
    position: relative;
    display: block;
    padding: 5px 5px;
  }
  .nav-kettles {
    display: block;
  }
}
.highlighted {
  background-color: yellow;
}
ul.tg-list, li.tg-list-item {
  list-style: none;
  margin: 0;
  padding: 0;
}
.tg-list {
  text-align: left;
  display: flex;
  align-items: center;
}
.tg-list-item {
  margin: 0 2em;
}
.tgl {
  display: none;
}
.tgl, .tgl:after, .tgl:before, .tgl *, .tgl *:after, .tgl *:before, .tgl + .tgl-btn {
  box-sizing: border-box;
}
.tgl::selection, .tgl:after::selection, .tgl:before::selection, .tgl *::selection, .tgl *:after::selection, .tgl *:before::selection, .tgl + .tgl-btn::selection {
  background: none;
}
.tgl + .tgl-btn {
  outline: 0;
  display: block;
  width: 4em;
  height: 2em;
  position: relative;
  cursor: pointer;
  user-select: none;
}
.tgl + .tgl-btn:after, .tgl + .tgl-btn:before {
  position: relative;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
}
.tgl + .tgl-btn:after {
  left: 0;
}
.tgl + .tgl-btn:before {
  display: none;
}
.tgl:checked + .tgl-btn:after {
  left: 50%;
}
.tgl-ios + .tgl-btn {
  background: #fbfbfb;
  border-radius: 2em;
  padding: 2px;
  transition: all 0.4s ease;
  border: 1px solid #e8eae9;
}
.tgl-ios + .tgl-btn:after {
  border-radius: 2em;
  background: #fbfbfb;
  transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), padding 0.3s ease, margin 0.3s ease;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, .1), 0 4px 0 rgba(0, 0, 0, .08);
}
.tgl-ios + .tgl-btn:hover:after {
  will-change: padding;
}
.tgl-ios + .tgl-btn:active {
  box-shadow: inset 0 0 0 2em #e8eae9;
}
.tgl-ios + .tgl-btn:active:after {
  padding-right: 0.8em;
}
.tgl-ios:checked + .tgl-btn {
  background: rgba(73, 163, 127, 1);
}
.tgl-ios:checked + .tgl-btn:active {
  box-shadow: none;
}
.tgl-ios:checked + .tgl-btn:active:after {
  margin-left: -0.8em;
}
.ui.orange.ribbon.label {
  border-color: #cf590c !important;
}
.ui.orange.label, .ui.orange.labels .label {
  background-color: #f2711c !important;
  border-color: #f2711c !important;
  color: #fff !important;
}
.ui.teal.ribbon.label {
  border-color: #00827c !important;
}
.ui.teal.label, .ui.teal.labels .label {
  background-color: #00b5ad !important;
  border-color: #00b5ad !important;
  color: #fff !important;
}
.ui.blue.ribbon.label {
  border-color: #1a69a4 !important;
}
.ui.blue.label, .ui.blue.labels .label {
  background-color: #2185d0 !important;
  border-color: #2185d0 !important;
  color: #fff !important;
}
.ui.ribbon.label {
  left: calc(-1.2rem - 1.4em);
  margin-right: -1.2em;
  padding-left: calc(-0.8rem + 1.2em);
  padding-right: 1.2em;
}
.ui.ribbon.label {
  position: relative;
  margin: 0;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  border-radius: 0 0.28571rem 0.28571rem 0;
  border-color: rgba(0, 0, 0, .15);
}
a.ui.label {
  cursor: pointer;
}
.ui.label {
  display: inline-block;
  line-height: 1;
  vertical-align: baseline;
  margin: 0 0.14286em;
  background-color: #e8e8e8;
  background-image: none;
  padding: 0.5833em 0.833em;
  color: rgba(0, 0, 0, .6);
  text-transform: none;
  font-weight: 700;
  border: 0 solid transparent;
  border-radius: 0.28571rem;
  -webkit-transition: background 0.1s ease;
  transition: background 0.1s ease;
}
.ui.ribbon.label:after {
  position: absolute;
  content: '';
  top: 100%;
  left: -3px;
  background-color: transparent !important;
  border-style: solid;
  border-width: 0 1.3em 1.2em 0;
  border-color: transparent;
  border-right-color: inherit;
  width: 0;
  height: 0;
}
.arduinos {
  position: relative;
  padding-bottom: 10px;
}
.modal-body {
  padding: 15px 5px 15px 5px;
}
.navbar-brand {
  float: left;
  height: 50px;
  padding: 15px 0 15px 0;
  font-size: 18px;
  line-height: 20px;
}
button {
  cursor: pointer;
}
.btn-light, .btn-outline-secondary {
  border: 1px solid #ccc;
}

.tplinks .fa-power-off.on, .chart-toggle .fa-area-chart.on {
  color: #FFF;
  background: #1FA66C;
  padding: 9px 7px 7px 7px;
  border-radius: 20px;
}
.tplinks a.on {
  border: 1px solid #1FA66C;
  border-radius: 20px;
  padding: 10px 2px 10px 2px;
}

.chart-toggle.on {
  border: 1px solid #1FA66C;
  border-radius: 20px;
  padding: 2px;
}

.tplinks .fa-power-off.off, .chart-toggle .fa-area-chart.off {
  color: #777;
  background: #ccc;
  padding: 9px 7px 7px 7px;
  border-radius: 20px;
}

.tplinks a.off {
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 10px 2px 10px 2px;
}

.chart-toggle.off {
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 2px;
}

.kettles a.kettle-type:hover, .kettles a.sticky:hover, .chart-toggle.off:hover, .settings .tplinks .off:hover {
    text-decoration: none;
    background-color: #e5e5e5;
}

.kettles a.kettle-type {
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 15px 5px 3px 11px;
}

.fa-thermometer-quarter, .fa-power-off {
  color: #777;
}

.kettles .btn-warning .fa-power-off, .kettles .btn-success .fa-power-off {
  color: #fff;
}

.kettles a.kettle-type.svg {
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 10px 0px 10px 5px;
}

.kettles a.sticky {
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 12px 12px 8px 12px;
  margin-left: -30px;
  display: inline-flex;
}

.card {
  min-width: 350px;
  margin-bottom: 20px;
}
.card-deck {
  padding: 0px 10px 80px 10px;
}
@media (min-width: 576px) {
  .modal-dialog {
    max-width: 90%;
    margin: 30px auto;
  }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.table-responsive {
  display: inline-table;
}
