<!-- Modal -->
<div class="modal fade" id="aboutModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
        <img src="/assets/img/brewbench-logo-265.png"/>
      </div>
      <div class="modal-body text-center">
        <a href="https://github.com/brewbench" target="_blank">BrewBench</a> Monitor is a brew monitor and controller.
        <br/>Developed by <a href="http://www.andrewvantassel.com" target="_blank">Andrew Van Tassel</a> and <a href="http://www.leekendrick.info" target="_blank">Lee Kendrick</a> &copy;2017.
        <br/><a href="https://www.hackster.io/brewbench/brewbench-d64d90" target="_blank">BrewBench on Hackster.io</a>
        <br/>Made with <img src="/assets/img/beer.png" width="45"> from Colorado
        <br/><strong>Version: {{pkg.version}}</strong>
        <br/>Click <a href="{{pkg.bugs.url}}" target="_blank">here</a> to submit issues or bugs.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <a type="button" class="btn btn-primary" target="_blank" href="https://twitter.com/andrewvantassel">Contact</a>
      </div>
    </div>
  </div>
</div>
