<footer class="footer">
  <div class="row-fluid">
    <div class="container">
      <ul class="links">
        <li><a href="https://brewbench.co">BrewBench</a></li>
        <li><a href="https://github.com/brewbench">GitHub</a></li>
        <li><a href="https://twitter.com/BrewBenchCo">Twitter</a></li>
        <li><a href="#" data-toggle="modal" data-target="#aboutModal">About</a></li>
      </ul>
      <p>Made with <img src="/assets/img/beer.png" width="45"> from Colorado, &copy; 2017 BrewBench</p>
    </div>
  </div>
</footer>
