<footer class="footer">
  <div class="row-fluid">
    <div ng-if="shareAccess('embed')" class="container">
      <p><img src="/assets/img/brewbench-logo.png" width="45"> Live now with <a href="https://www.brewbench.co">BrewBench.co</a></p>
    </div>
    <div ng-if="!shareAccess('embed')" class="container">
      <ul class="links">
        <li><a href="https://brewbench.co" target="_blank">BrewBench</a></li>
        <li><a href="https://forum.brewbench.co" target="_blank">Help</a></li>
        <li><a href="https://github.com/brewbench" target="_blank">GitHub</a></li>
        <li><a href="https://twitter.com/BrewBenchCo" target="_blank">Twitter</a></li>
        <li><a href="#" data-toggle="modal" data-target="#aboutModal">About</a></li>
      </ul>
      <p>
        Made with <img src="/assets/img/beer.png" width="45"> from Colorado, &copy; 2018 BrewBench
        <br/>BrewBench Monitor v{{pkg.version}}
      </p>
    </div>
  </div>
</footer>
