<div class="modal fade" id="importModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title"><i class="fas fa-upload fa-lg" aria-hidden="true"></i> Import <sup class="ref">Recipes</sup></h1>
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col pb-3 text-center">
            Works with <a href="http://beersmithrecipes.com" target="_blank">BeerSmith</a> or <a href="http://www.beerxml.com/" target="_blank">BeerXML</a> formats from <a href="https://www.brewersfriend.com/#a_aid=59c42e6c3d858" target="_blank">Brewer's Friend</a>.
          </div>
        </div>
        <div class="row">
          <div class="col text-center">

            <span class="btn btn-primary btn-file">
              Choose File ... <input type="file" on-read-file="importRecipe($fileContent,$ext)" accept=".bsmx,.xml"/>
            </span>

            <div class="alert alert-danger alert-dismissible" role="alert" ng-if="recipe_success===false">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <strong>Failed!</strong> Please check your recipe format.  Must be BeerSmith or BeerXML format.
            </div>

            <div class="alert alert-success alert-dismissible" role="alert" ng-if="recipe_success===true">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <strong>Success!</strong> {{settings.recipe.name}} imported.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
