<div class="controller-fluid layout-{{settings.layout}}">
<div class="card-deck">

  <div class="kettles card"
    ng-repeat="kettle in kettles" id="kettle{{$index}}" ng-if="!kettle.sticky">
    <div class="card-header container-fluid">

      <div class="row">
        <div class="col-auto mr-auto">
          <div class="arduinos" ng-if="shareAccess('fullAccess')">
            <a class="ui ribbon label dropdown-toggle" ng-class="{'teal':kettle.arduino, 'orange':!kettle.arduino}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="dropdown-toggle"><img src="assets/img/arduino.svg" width="15"> {{kettle.arduino ? kettle.arduino.url : 'Select an Arduino'}}</span>
            </a>
            <a href="" class="text-success sticky" ng-click="kettle.sticky = !!(kettle.sticky) ?  false : true"><i class="fa fa-thumb-tack fa-lg"></i></a>
            <div class="dropdown-menu scrollable-menu">
              <button class="text-center modal-link dropdown-item" type="button" data-toggle="modal" data-target="#settingsModal">
                Add/Edit Arduinos
              </button>
              <button ng-repeat="arduino in settings.arduinos"
                ng-class="{'active': kettle.arduino && kettle.arduino.id == arduino.id}"
                ng-click="kettle.arduino=arduino"
                class="dropdown-item" type="button">
                {{arduino.url}}
              </button>
            </div>
          </div>
        </div>
        <div ng-if="shareAccess('fullAccess')" class="col-auto">
          <i class="fa fa-4x float-right" ng-click="startStopKettle(kettle)" ng-class="{'fa-stop-circle':kettle.active,'fa-play-circle':!kettle.active}"></i>
        </div>
      </div>

      <div class="alert alert-danger" ng-if="kettle.error">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="kettle.error=''"><span aria-hidden="true">×</span></button>
        {{kettle.error}}
      </div>

      <div class="row">
        <div class="col">
          <img ng-if="kettle.type != 'air'" class="type" ng-src="/assets/img/{{kettle.type}}.svg" height="30" ng-click="changeKettleType(kettle)"/>
          <i ng-if="kettle.type == 'air'" class="fa fa-thermometer-quarter fa-2x type" height="30" ng-click="changeKettleType(kettle)"></i>
          <h3><editable type="text" model="kettle.key"></editable></h3>
        </div>
      </div>

      <div ng-if="shareAccess('fullAccess')">
        <div class="row">
          <div class="col">
            <label class="adjust">Temp</label>
            <div class="btn-group">
              <div class="btn-group" ng-if="kettle.arduino">
                <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {{kettle.temp.pin}} <span class="caret"></span>
                </button>
                <div class="dropdown-menu scrollable-menu">
                  <h6 ng-if="sensorTypes(kettle.temp.type).analog" class="dropdown-header">Analog</h6>
                  <div ng-if="sensorTypes(kettle.temp.type).analog" class="dropdown-divider"></div>
                  <button ng-if="sensorTypes(kettle.temp.type).analog"
                      ng-repeat="p in getPortRange(kettle.arduino.analog) track by $index"
                      ng-class="{'active': kettle.temp.pin=='A'+p}"
                      ng-click="pinChange(kettle.temp.pin,p,true); kettle.temp.pin='A'+p;"
                      class="dropdown-item" type="button">
                    A{{p}} <span class="pininuse" ng-show="pinInUse('A'+p,true)">(In Use)</span>
                  </button>
                  <div ng-if="sensorTypes(kettle.temp.type).digital" class="dropdown-divider"></div>
                  <h6 ng-if="sensorTypes(kettle.temp.type).digital" class="dropdown-header">Digital</h6>
                  <div ng-if="sensorTypes(kettle.temp.type).digital" class="dropdown-divider"></div>
                  <button ng-if="sensorTypes(kettle.temp.type).digital"
                      ng-repeat="p in getPortRange(kettle.arduino.digital) track by $index"
                      ng-class="{'active': kettle.temp.pin=='D'+p}"
                      ng-click="pinChange(kettle.temp.pin,p,false); kettle.temp.pin='D'+p;"
                      class="dropdown-item" type="button">
                    D{{p}} <span class="pininuse" ng-show="pinInUse('D'+p,false)">(In Use)</span>
                  </button>
                </div>
              </div>
              <div class="btn-group" ng-if="kettle.arduino">
                <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {{kettle.temp.type}} <span class="caret"></span>
                </button>
                <div class="dropdown-menu scrollable-menu" ng-init="sensors = sensorTypes()">
                  <button ng-repeat="s in sensors track by $index"
                      ng-class="{'active': kettle.temp.type==s.name}"
                      ng-click="kettle.temp.type=s.name;"
                      class="dropdown-item" type="button">
                    {{s.name}}
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
        <div class="col" ng-if="kettle.arduino">
          <label class="adjust" ng-class="{'heating':kettle.heater.running}">Heat
            <sup><a ng-if="kettle.heater.pin.indexOf('D') !== -1" href="" ng-click="togglePWM(kettle.heater)">PWM ~</a></sup>
          </label>
          <div class="btn-group pb-3">
            <div class="btn-group">
              <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-disabled="kettle.heater.running">
                {{kettle.heater.pin}} <span class="caret"></span>
              </button>
              <div class="dropdown-menu scrollable-menu">
                <button ng-click="kettle.heater.ssr = !kettle.heater.ssr"
                  class="ssr dropdown-item" type="button">
                  Solid State Relay
                  <i class="fa fa-lg" ng-class="{'fa-check text-success':kettle.heater.ssr,'fa-circle-o':!kettle.heater.ssr}"></i> <span ng-show="kettle.heater.ssr" class="text-muted">{{kettle.heater.dutyCycle}}%</span>
                </button>
                <div class="dropdown-divider"></div>
                <h6 class="dropdown-header">Analog</h6>
                <div class="dropdown-divider"></div>
                <button ng-repeat="p in getPortRange(kettle.arduino.analog) track by $index"
                    ng-class="{'active': kettle.heater.pin=='A'+p}"
                    ng-click="pinChange(kettle.heater.pin,'A'+p,true); kettle.heater.pin='A'+p; kettle.heater.pwm=false;"
                    class="dropdown-item" type="button">
                  A{{p}} <span class="pininuse" ng-show="pinInUse('A'+p,true)">(In Use)</span>
                </button>
                <div class="dropdown-divider"></div>
                <h6 class="dropdown-header">Digital</h6>
                <div class="dropdown-divider"></div>
                <button ng-repeat="p in getPortRange(kettle.arduino.digital) track by $index"
                    ng-class="{'active': kettle.heater.pin=='D'+p}"
                    ng-click="pinChange(kettle.heater.pin,'D'+p,false); kettle.heater.pin='D'+p;"
                    class="dropdown-item" type="button">
                  D{{p}} <span class="pininuse" ng-show="pinInUse('D'+p,false)">(In Use)</span>
                </button>
              </div>
            </div>
            <div class="btn-group relay">
              <button type="button" class="btn" ng-class="{'btn-light':!kettle.heater.running&&!kettle.heater.auto,'btn-success':kettle.heater.running,'btn-warning':!kettle.heater.running&&kettle.heater.auto}" ng-click="toggleKettle('heat',kettle)">{{kettle.heater.running ? 'On' : (kettle.heater.auto ? 'Wait' :'Off')}}</button>
              <button type="button" class="btn" ng-class="{'btn-light':!kettle.heater.auto,'btn-success':kettle.heater.auto}" ng-click="kettle.heater.auto=!kettle.heater.auto">Auto</button>
            </div>
            </div>
            <rzslider
              ng-if="kettle.heater.pwm"
              rz-slider-options="getKettleSliderOptions('heat', $index)"
              rz-slider-model="kettle.heater.dutyCycle">
            </rzslider>
        </div>

        <div class="col" ng-if="kettle.arduino && kettle.type !== 'fermenter'">
          <label class="adjust">Pump
            <sup><a ng-if="kettle.pump.pin.indexOf('D') !== -1" href="" ng-click="togglePWM(kettle.pump)">PWM ~</a></sup>
          </label>
          <div class="btn-group pb-3">
            <div class="btn-group">
              <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-disabled="kettle.pump.running">
                {{kettle.pump.pin}} <span class="caret"></span>
              </button>
              <div class="dropdown-menu scrollable-menu">
                <button ng-click="kettle.pump.ssr = !kettle.pump.ssr"
                  class="ssr dropdown-item" type="button">
                  Solid State Relay
                  <i class="fa fa-lg" ng-class="{'fa-check text-success':kettle.pump.ssr,'fa-circle-o':!kettle.pump.ssr}"></i> <span ng-show="kettle.pump.ssr" class="text-muted">{{kettle.pump.dutyCycle}}%</span>
                </button>
                <div class="dropdown-divider"></div>
                <h6 class="dropdown-header">Analog</h6>
                <div class="dropdown-divider"></div>
                <button ng-repeat="p in getPortRange(kettle.arduino.analog) track by $index"
                    ng-class="{'active': kettle.pump.pin=='A'+p}"
                    ng-click="pinChange(kettle.pump.pin,'A'+p,true); kettle.pump.pin='A'+p; kettle.pump.pwm=false;"
                    class="dropdown-item" type="button">
                  A{{p}} <span class="pininuse" ng-show="pinInUse('A'+p,true)">(In Use)</span>
                </button>
                <div class="dropdown-divider"></div>
                <h6 class="dropdown-header">Digital</h6>
                <div class="dropdown-divider"></div>
                <button ng-repeat="p in getPortRange(kettle.arduino.digital) track by $index"
                    ng-class="{'active': kettle.pump.pin=='D'+p}"
                    ng-click="pinChange(kettle.pump.pin,'D'+p,false); kettle.pump.pin='D'+p;"
                    class="dropdown-item" type="button">
                  D{{p}} <span class="pininuse" ng-show="pinInUse('D'+p,false)">(In Use)</span>
                </button>
              </div>
            </div>
            <div class="btn-group relay">
              <button type="button" class="btn" ng-class="{'btn-light':!kettle.pump.running&&!kettle.pump.auto,'btn-success':kettle.pump.running,'btn-warning':!kettle.pump.running&&kettle.pump.auto}" ng-click="toggleKettle('pump',kettle)">{{kettle.pump.running ? 'On' : (kettle.pump.auto ? 'Wait' :'Off')}}</button>
              <button type="button" class="btn" ng-class="{'btn-light':!kettle.pump.auto,'btn-success':kettle.pump.auto}" ng-click="kettle.pump.auto=!kettle.pump.auto">Auto</button>
            </div>
          </div>
          <rzslider
            ng-if="kettle.pump.pwm"
            rz-slider-options="getKettleSliderOptions('pump', $index)"
            rz-slider-model="kettle.pump.dutyCycle">
          </rzslider>
        </div>

        <div class="col" ng-if="kettle.arduino && kettle.type === 'fermenter' && kettle.cooler">
          <label class="adjust" ng-class="{'cooling':kettle.cooler.running}">Cool
            <sup><a ng-if="kettle.cooler.pin.indexOf('D') !== -1" href="" ng-click="togglePWM(kettle.cooler)">PWM ~</a></sup>
          </label>
          <div class="btn-group">
            <div class="btn-group">
              <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-disabled="kettle.cooler.running">
                {{kettle.cooler.pin}} <span class="caret"></span>
              </button>
              <div class="dropdown-menu scrollable-menu">
                <button ng-click="kettle.cooler.ssr = !kettle.cooler.ssr"
                  class="ssr dropdown-item" type="button">
                  Solid State Relay
                  <i class="fa fa-lg" ng-class="{'fa-check text-success':kettle.cooler.ssr,'fa-circle-o':!kettle.cooler.ssr}"></i> <span ng-show="kettle.cooler.ssr" class="text-muted">{{kettle.cooler.dutyCycle}}%</span>
                </button>
                <div class="dropdown-divider"></div>
                <h6 class="dropdown-header">Analog</h6>
                <div class="dropdown-divider"></div>
                <button ng-repeat="p in getPortRange(kettle.arduino.analog) track by $index"
                    ng-class="{'active': kettle.cooler.pin=='A'+p}"
                    ng-click="pinChange(kettle.cooler.pin,'A'+p,true); kettle.cooler.pin='A'+p; kettle.cooler.pwm=false;"
                    class="dropdown-item" type="button">
                  A{{p}} <span class="pininuse" ng-show="pinInUse('A'+p,true)">(In Use)</span>
                </button>
                <div class="dropdown-divider"></div>
                <h6 class="dropdown-header">Digital</h6>
                <div class="dropdown-divider"></div>
                <button ng-repeat="p in getPortRange(kettle.arduino.digital) track by $index"
                    ng-class="{'active': kettle.cooler.pin=='D'+p}"
                    ng-click="pinChange(kettle.cooler.pin,'D'+p,false); kettle.cooler.pin='D'+p;"
                    class="dropdown-item" type="button">
                  D{{p}} <span class="pininuse" ng-show="pinInUse('D'+p,false)">(In Use)</span>
                </button>
              </div>
            </div>
            <div class="btn-group relay">
              <button type="button" class="btn" ng-class="{'btn-light':!kettle.cooler.running&&!kettle.cooler.auto,'btn-success':kettle.cooler.running,'btn-warning':!kettle.cooler.running&&kettle.cooler.auto}" ng-click="toggleKettle('cool',kettle)">{{kettle.cooler.running ? 'On' : (kettle.cooler.auto ? 'Wait' :'Off')}}</button>
              <button type="button" class="btn" ng-class="{'btn-light':!kettle.cooler.auto,'btn-success':kettle.cooler.auto}" ng-click="kettle.cooler.auto=!kettle.cooler.auto">Auto</button>
            </div>
          </div>
          <rzslider
            ng-if="kettle.cooler.pwm"
            rz-slider-options="getKettleSliderOptions('cool', $index)"
            rz-slider-model="kettle.cooler.dutyCycle">
          </rzslider>
        </div>
      </div>

      </div>

    </div>

    <div class="card-body">
      <div class="row">
        <div class="col-auto mr-auto">
          <ui-knob ng-click="knobClick(kettle)"
            value="kettle.temp.current"
            options="kettle.knob">
          </ui-knob>
          <div class="adjusted" ng-if="kettle.temp.adjust != 0" ng-click="kettle.temp.adjust=0;kettle.temp.current=kettle.temp.previous;">adjusted {{kettle.temp.adjust}}&deg;</div>
        </div>
        <div class="col-auto" ng-if="shareAccess('fullAccess')">
          <div class="row">
            <div class="col">
              <label class="adjust">Target</label>
              <div class="btn-group" role="group">
                <button type="button" class="btn btn-light" style="width:62px;"><editable type="number" model="kettle.temp.target">{{kettle.temp.target}}</editable>&deg;{{settings.unit}}</button>
                <button type="button" class="btn btn-light" ng-click="changeValue(kettle,'target',false)"><i class="fa fa-minus fa-lg"></i></button>
                <button type="button" class="btn btn-light" ng-click="changeValue(kettle,'target',true)"><i class="fa fa-plus fa-lg"></i></button>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <label class="adjust">Diff</label>
              <div class="btn-group" role="group">
                <button type="button" class="btn btn-light" style="width:62px;"><editable type="number" model="kettle.temp.diff">{{kettle.temp.diff}}</editable>&deg;{{settings.unit}}</button>
                <button type="button" class="btn btn-light" ng-click="changeValue(kettle,'diff',false)"><i class="fa fa-minus fa-lg"></i></button>
                <button type="button" class="btn btn-light" ng-click="changeValue(kettle,'diff',true)"><i class="fa fa-plus fa-lg"></i></button>
              </div>
            </div>
          </div>
          <div class="row" ng-if="kettle.type!='fermenter' && kettle.type!='air'">
            <div class="col">
            <label class="adjust">Timers</label>
            <div class="btn-group" role="group" ng-if="kettle.type=='grain'">
              <div class="btn-group">
                <button type="button" class="btn btn-light" ng-click="removeTimers($event,kettle)" ng-if="kettle.timers.length"><i class="fa fa-trash fa-lg"></i></button>
                <button type="button" class="btn btn-light add-timer" ng-click="addTimer(kettle)"><img src="/assets/img/grain.svg" width="32"></button>
                <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></button>
                <div class="dropdown-menu scrollable-menu dropdown-menu-right">
                  <button ng-repeat="grain in grains"
                      ng-click="addTimer(kettle,{label:grain.name,min:60})"
                      class="dropdown-item" type="button">
                    {{grain.name}}
                  </button>
                </div>
              </div>
            </div>
            <div class="btn-group" role="group" ng-if="kettle.type=='hop'">
              <div class="btn-group">
                <button type="button" class="btn btn-light" ng-click="removeTimers($event,kettle)" ng-if="kettle.timers.length"><i class="fa fa-trash fa-lg"></i></button>
                <button type="button" class="btn btn-light add-timer" ng-click="addTimer(kettle)"><img src="/assets/img/hop.svg" width="32"></button>
                <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></button>
                <div class="dropdown-menu scrollable-menu dropdown-menu-right">
                  <button ng-click="addTimer(kettle,{label:'Whirlfloc',min:10})"
                    class="dropdown-item" type="button">
                    Whirlfloc
                  </button>
                  <button ng-repeat="hop in hops"
                      ng-click="addTimer(kettle,{label:hop.name,min:30})"
                      class="dropdown-item" type="button">
                    {{hop.name}}
                  </button>
                </div>
              </div>
            </div>
            <div class="btn-group" role="group" ng-if="kettle.type=='water'">
              <div class="btn-group">
                <button type="button" class="btn btn-light" ng-click="removeTimers($event,kettle)" ng-if="kettle.timers.length"><i class="fa fa-trash fa-lg"></i></button>
                <button type="button" class="btn btn-light add-timer" ng-click="addTimer(kettle)"><img src="/assets/img/water.svg" width="32"></button>
                <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></button>
                <div class="dropdown-menu scrollable-menu dropdown-menu-right">
                  <button ng-repeat="w in water"
                      ng-click="addTimer(kettle,{label:w.name||w.salt,min:60})"
                      class="dropdown-item" type="button">
                    {{w.name||w.salt}}
                  </button>
                </div>
              </div>
            </div>
            </div>
            </div>
        </div>
      </div>
      <br>
      <div class="row timers" ng-if="shareAccess('fullAccess')">
        <div class="col">
            <div class="row timer-block" ng-repeat="timer in kettle.timers track by $index" ng-class="{'running':(timer.running && !timer.up), 'queue': timer.queue, 'finished': timer.up}">
            <div class="col-auto mr-auto">
              <label class="adjust"><editable model="timer.label"></editable> <sup ng-if="timer.queue" class="queue">in queue</sup></label>
              <label class="notes" ng-if="timer.notes"><editable model="timer.notes"></editable></label>
              <editable class="timer" ng-show="!timer.up" type="number" model="timer.min"></editable><span class="timer-secs" ng-if="!timer.up">: {{timer.sec}}</span>
              <span class="count-up" ng-show="timer.up" ng-click="timerStart(timer,kettle)">{{timer.up.min}}</span><span ng-if="timer.up" class="timer-secs-up" ng-click="timerStart(timer,kettle)">: {{timer.up.sec}}</span>
            </div>
            <div class="col-auto">
            <div class="btn-group" role="group">
              <span class="btn-group">
                <button type="button" class="btn btn-light" ng-if="timer.min!==null" ng-click="timer.min=timer.min-1" ng-disabled="timer.up"><i class="fa fa-minus fa-lg"></i></button>
                <button type="button" class="btn btn-light" ng-if="timer.min!==null" ng-click="timer.min=timer.min+1" ng-disabled="timer.up"><i class="fa fa-plus fa-lg"></i></button>
                <button type="button" class="btn btn-light" ng-if="timer.min!==null" ng-click="timerStart(timer,kettle)" ng-disabled="timer.queue"><i class="fa fa-lg" ng-class="{'fa-stop-circle':timer.running||timer.up.running,'fa-play-circle':!timer.running&&!timer.queue&&!timer.up.running,'fa-clock-o':timer.queue}"></i></button>
                <button type="button" class="btn btn-light" ng-click="kettle.timers.splice($index, 1);"><i class="fa fa-trash fa-lg"></i></button>
              </span>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer" ng-if="shareAccess('fullAccess')">
        <i class="fa fa-1x float-right" ng-class="{'fa-chevron-left':!showRemoveKettle,'fa-chevron-right':showRemoveKettle}" aria-hidden="true" ng-click="showRemoveKettle=!showRemoveKettle"></i>
        <button ng-show="showRemoveKettle" class="btn btn-danger btn-sm float-right" ng-click="showRemoveKettle=false;kettles.splice($index,1)">Remove Kettle</button>
    </div>
  </div>
</div>
</div>
<br>
