<div class="controller-fluid layout-card">
<div class="card-deck mb-3">

  <div class="kettles card mt-2"
    ng-repeat="kettle in kettles track by $index" id="kettle{{$index}}" ng-if="!kettle.sticky">
    <div class="card-header container-fluid">

      <div class="row">
        <div class="col-auto mr-auto">
          <div class="arduinos" ng-if="shareAccess('fullAccess')">
            <a class="ui ribbon label dropdown-toggle" ng-class="{'teal':kettle.arduino, 'orange':!kettle.arduino}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="dropdown-toggle"><img src="assets/img/arduino.svg" width="15"> {{kettle.arduino ? kettle.arduino.url : 'Select an Arduino'}}</span>
            </a>
            <div class="kettle-options">
              <a href="" class="text-success sticky" ng-click="kettle.sticky = !!(kettle.sticky) ?  false : true"><i class="fas fa-thumbtack fa-lg"></i></a>
            </div>
            <div class="dropdown-menu scrollable-menu">
              <button class="text-center modal-link dropdown-item" type="button" data-toggle="modal" data-target="#settingsModal">
                <strong>Add / Edit Arduinos</strong>
              </button>
              <div class="dropdown-divider"></div>
              <button ng-repeat="arduino in settings.arduinos | orderBy:'url'"
                ng-class="{'active': kettle.arduino && kettle.arduino.id == arduino.id}"
                ng-click="kettle.arduino=arduino;updateStreams(kettle);"
                class="dropdown-item" type="button">
                <i class="fas fa-circle" ng-class="{'orange':(!site.https && arduino.secure),'on':(!arduino.status.error && arduino.status.dt),'off':!!arduino.status.error}" aria-hidden="true"></i> {{ arduino.url }}
              </button>
            </div>
          </div>
        </div>
        <div ng-if="shareAccess('fullAccess')" class="col-auto">
          <i class="fas fa-4x float-right" ng-click="startStopKettle(kettle)" ng-class="{'fa-stop-circle':kettle.active,'fa-play-circle':!kettle.active}"></i>
        </div>
      </div>

      <div class="alert alert-{{kettle.message.type}}" ng-if="kettle.message.message">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="resetError(kettle)"><span aria-hidden="true">×</span></button>
        <span ng-bind-html="kettle.message.message">{{kettle.message.message}}</span>
      </div>

      <div class="row">
        <div class="col">
          <a href="" ng-click="changeKettleType(kettle)" data-toggle="tooltip" title="Change type" class="kettle-type {{ kettle.type }}" ng-class="{'svg': ['air','seedling','cannabis'].indexOf(kettle.type) === -1}">
            <img ng-if="['air','seedling','cannabis'].indexOf(kettle.type) === -1" class="type {{ kettle.type }}" ng-src="/assets/img/{{kettle.type}}.svg" width="30" height="30"/>
            <i ng-if="kettle.type == 'air'" class="fas fa-thermometer-quarter fa-2x type"></i>
            <i ng-if="kettle.type == 'seedling'" class="fas fa-seedling fa-lg type"></i>
            <i ng-if="kettle.type == 'cannabis'" class="fas fa-cannabis fa-2x type"></i>
          </a>&nbsp;
          <h3><editable type="text" model="kettle.name" data-toggle="tooltip" title="Click to edit name<br>Enter return to save"></editable></h3>
        </div>
      </div>

      <div ng-if="shareAccess('fullAccess')">
        <div class="row">
          <div class="col">
            <label class="adjust">Sensor</label>
            <div class="btn-group">
              <div class="btn-group" ng-if="kettle.arduino">
                <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {{kettle.temp.type}} <span class="caret"></span>
                </button>
                <div class="dropdown-menu scrollable-menu" ng-init="sensors = BrewService.sensorTypes()">
                  <button ng-repeat="s in sensors track by $index"
                      ng-if="!BrewService.isESP(kettle.arduino) || (BrewService.isESP(kettle.arduino) && s.esp)"
                      ng-class="{'active': kettle.temp.type==s.name}"
                      ng-click="kettle.temp.type=s.name;changeSensor(kettle);updateStreams(kettle);"
                      class="dropdown-item" type="button">
                    {{s.name}}
                  </button>
                </div>
              </div>
              <div class="btn-group" ng-if="kettle.arduino">
                <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {{ pinDisplay(kettle.arduino, kettle.temp.pin) }} <span class="caret"></span>
                </button>
                <div class="dropdown-menu scrollable-menu">
                  <h6 ng-if="BrewService.sensorTypes(kettle.temp.type).analog" class="dropdown-header">Analog</h6>
                  <div ng-if="BrewService.sensorTypes(kettle.temp.type).analog" class="dropdown-divider"></div>
                  <button ng-if="BrewService.sensorTypes(kettle.temp.type).analog"
                      ng-repeat="p in getPortRange(kettle.arduino.analog) track by $index"
                      ng-class="{'active': kettle.temp.pin=='A'+p}"
                      ng-click="kettle.temp.pin='A'+p;updateStreams(kettle);"
                      class="dropdown-item" type="button">
                    {{ pinDisplay(kettle.arduino, 'A'+p) }} <span class="pininuse" ng-show="pinInUse('A'+p,kettle.arduino.id)">(In Use)</span>
                  </button>
                  <div ng-if="BrewService.sensorTypes(kettle.temp.type).digital" class="dropdown-divider"></div>
                  <h6 ng-if="BrewService.sensorTypes(kettle.temp.type).digital" class="dropdown-header">Digital</h6>
                  <div ng-if="BrewService.sensorTypes(kettle.temp.type).digital" class="dropdown-divider"></div>
                  <button ng-if="BrewService.sensorTypes(kettle.temp.type).digital"
                      ng-repeat="p in getPortRange(kettle.arduino.digital) track by $index"
                      ng-class="{'active': kettle.temp.pin=='D'+p}"
                      ng-click="kettle.temp.pin='D'+p;updateStreams(kettle);"
                      class="dropdown-item" type="button">
                    {{ pinDisplay(kettle.arduino, 'D'+p) }}  <span class="pininuse" ng-show="pinInUse('D'+p,kettle.arduino.id)">(In Use)</span>
                  </button>
                  <div ng-if="kettle.arduino.adc" class="dropdown-divider"></div>
                  <h6 ng-if="kettle.arduino.adc" class="dropdown-header">ADC</h6>
                  <div ng-if="kettle.arduino.adc" class="dropdown-divider"></div>
                  <button ng-if="kettle.arduino.adc"
                      ng-repeat="p in getPortRange(kettle.arduino.adc) track by $index"
                      ng-class="{'active': kettle.temp.pin=='C'+p}"
                      ng-click="kettle.temp.pin='C'+p;updateStreams(kettle);"
                      class="dropdown-item" type="button">
                    C{{p}} <span class="pininuse" ng-show="pinInUse('C'+p,kettle.arduino.id)">(In Use)</span>
                  </button>
                </div>
              </div>
              <div class="btn-group" ng-if="kettle.arduino && BrewService.sensorTypes(kettle.temp.type).vcc">
                <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {{ kettle.temp.vcc ? pinDisplay(kettle.arduino, kettle.temp.vcc) : 'VCC?' }} <span class="caret"></span>
                </button>
                <div class="dropdown-menu scrollable-menu">
                  <h6 class="dropdown-header">VCC</h6>
                  <div class="dropdown-divider"></div>
                  <button ng-class="{'active': kettle.temp.vcc==''}"
                      ng-click="kettle.temp.vcc='';updateStreams(kettle);"
                      class="dropdown-item" type="button">
                    None
                  </button>
                  <button ng-class="{'active': kettle.temp.vcc=='5V'}"
                      ng-click="kettle.temp.vcc='5V';updateStreams(kettle);"
                      class="dropdown-item" type="button">
                    5V <span class="pininuse" ng-show="pinInUse('5V',kettle.arduino.id)">(In Use)</span>
                  </button>
                  <button ng-class="{'active': kettle.temp.vcc=='3V'}"
                      ng-click="kettle.temp.vcc='3V';updateStreams(kettle);"
                      class="dropdown-item" type="button">
                    3.3V <span class="pininuse" ng-show="pinInUse('3V',kettle.arduino.id)">(In Use)</span>
                  </button>
                  <div class="dropdown-divider"></div>
                  <h6 class="dropdown-header">Digital</h6>
                  <div class="dropdown-divider"></div>
                  <button ng-repeat="p in getPortRange(kettle.arduino.digital) track by $index"
                      ng-class="{'active': kettle.temp.vcc=='D'+p}"
                      ng-click="kettle.temp.vcc='D'+p;updateStreams(kettle);"
                      class="dropdown-item" type="button">
                    {{ pinDisplay(kettle.arduino, 'D'+p) }} <span class="pininuse" ng-show="pinInUse('D'+p,kettle.arduino.id)">(In Use)</span>
                  </button>
                </div>
              </div>
              <div class="btn-group" ng-if="kettle.arduino && kettle.temp.type == 'DS18B20'">
                <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {{(kettle.temp.index >= 0) ? kettle.temp.index : 'Index?'}} <span class="caret"></span>
                </button>
                <div class="dropdown-menu scrollable-menu">
                  <h6 class="dropdown-header">Index</h6>
                  <div class="dropdown-divider"></div>
                  <button ng-repeat="n in [].constructor(20) track by $index" ng-class="{'active': kettle.temp.index==$index}"
                      ng-click="kettle.temp.index=$index;updateStreams(kettle);"
                      class="dropdown-item" type="button">
                    {{$index}} <span class="pininuse" ng-show="$index == 0">Default</span>
                  </button>
                </div>
              </div>
              <div class="btn-group" ng-if="BrewService.isESP(kettle.arduino)">
                <button type="button" class="btn btn-light" data-toggle="modal" data-target="#dataModal-esp{{ BrewService.isESP(kettle.arduino, true) }}">
                  <i class="fa fa-microchip fa-lg"></i>
                </button>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
        <div class="col" ng-if="kettle.arduino">
          <label class="adjust" ng-class="{'heating':kettle.heater.running}">Heat
            <sup><a ng-if="kettle.heater.pin.indexOf('D') === 0" href="" ng-click="togglePWM(kettle.heater)">PWM ~</a></sup>
          </label>
          <div class="btn-group pb-3">
            <div class="btn-group">
              <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-disabled="kettle.heater.running">
                {{ pinDisplay(kettle.arduino, kettle.heater.pin) }} <span class="caret"></span>
              </button>
              <div class="dropdown-menu scrollable-menu" ng-click="tpScan();">
                <button ng-click="kettle.heater.ssr = !kettle.heater.ssr"
                  class="ssr dropdown-item" type="button">
                  Solid State Relay
                  <i class="fas fa-lg" ng-class="{'fa-check text-success':kettle.heater.ssr,'fa-circle-o':!kettle.heater.ssr}"></i> <span ng-show="kettle.heater.ssr" class="text-muted">{{kettle.heater.dutyCycle}}%</span>
                </button>
                <div class="dropdown-divider"></div>
                <h6 class="dropdown-header" ng-if="settings.tplink.token">TP-Link</h6>
                <div class="dropdown-divider" ng-if="settings.tplink.token"></div>
                <button ng-if="settings.tplink.plugs"
                     ng-repeat="tp in settings.tplink.plugs track by $index"
                     ng-class="{'active': kettle.heater.pin=='TP-'+tp.deviceId}"
                     ng-click="kettle.heater.pin='TP-'+tp.deviceId; kettle.heater.pwm=false;updateStreams(kettle);"
                     class="dropdown-item" type="button">
                   {{ tp.alias }} <i class="fas fa-circle" ng-class="{'on':!!tp.status, 'off':!tp.status}" aria-hidden="true"></i> <span class="pininuse" ng-show="pinInUse('TP-'+tp.deviceId,kettle.arduino.id)">(In Use)</span>
                </button>
                <div class="dropdown-divider" ng-if="settings.tplink.token"></div>
                <h6 class="dropdown-header">Analog</h6>
                <div class="dropdown-divider"></div>
                <button ng-repeat="p in getPortRange(kettle.arduino.analog) track by $index"
                    ng-class="{'active': kettle.heater.pin=='A'+p}"
                    ng-click="kettle.heater.pin='A'+p; kettle.heater.pwm=false;updateStreams(kettle);"
                    class="dropdown-item" type="button">
                  {{ pinDisplay(kettle.arduino, 'A'+p) }} <span class="pininuse" ng-show="pinInUse('A'+p,kettle.arduino.id)">(In Use)</span>
                </button>
                <div class="dropdown-divider"></div>
                <h6 class="dropdown-header">Digital</h6>
                <div class="dropdown-divider"></div>
                <button ng-repeat="p in getPortRange(kettle.arduino.digital) track by $index"
                    ng-class="{'active': kettle.heater.pin=='D'+p}"
                    ng-click="kettle.heater.pin='D'+p;updateStreams(kettle);"
                    class="dropdown-item" type="button">
                  {{ pinDisplay(kettle.arduino, 'D'+p) }} <span class="pininuse" ng-show="pinInUse('D'+p,kettle.arduino.id)">(In Use)</span>
                </button>
              </div>
            </div>
            <div class="btn-group relay">
              <button type="button" class="btn" ng-class="{'btn-light':!kettle.heater.auto,'btn-success':kettle.heater.auto}" ng-click="kettle.heater.auto=!kettle.heater.auto">Auto</button>
              <button type="button" class="btn" ng-class="{'btn-light':!kettle.heater.running && !kettle.heater.auto,'btn-success':kettle.heater.running,'btn-warning':!kettle.heater.running && kettle.heater.auto}" ng-click="toggleKettle('heat',kettle)">
                <i class="fas fa-power-off fa-lg"></i>
              </button>
            </div>
            </div>
            <rzslider
              ng-if="kettle.heater.pwm"
              rz-slider-options="getKettleSliderOptions('heat', $index)"
              rz-slider-model="kettle.heater.dutyCycle">
            </rzslider>
        </div>

        <div class="col" ng-if="kettle.arduino && kettle.type != 'fermenter' && kettle.type != 'air'">
          <label class="adjust">Pump
            <sup><a ng-if="kettle.pump.pin.indexOf('D') === 0" href="" ng-click="togglePWM(kettle.pump)">PWM ~</a></sup>
          </label>
          <div class="btn-group pb-3">
            <div class="btn-group">
              <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-disabled="kettle.pump.running">
                {{ pinDisplay(kettle.arduino, kettle.pump.pin) }} <span class="caret"></span>
              </button>
              <div class="dropdown-menu scrollable-menu">
                <button ng-click="kettle.pump.ssr = !kettle.pump.ssr"
                  class="ssr dropdown-item" type="button">
                  Solid State Relay
                  <i class="fas fa-lg" ng-class="{'fa-check text-success':kettle.pump.ssr,'fa-circle-o':!kettle.pump.ssr}"></i> <span ng-show="kettle.pump.ssr" class="text-muted">{{kettle.pump.dutyCycle}}%</span>
                </button>
                <div class="dropdown-divider"></div>
                <h6 class="dropdown-header" ng-if="settings.tplink.token">TP-Link</h6>
                <div class="dropdown-divider" ng-if="settings.tplink.token"></div>
                <button ng-if="settings.tplink.plugs"
                     ng-repeat="tp in settings.tplink.plugs track by $index"
                     ng-class="{'active': kettle.pump.pin=='TP-'+tp.deviceId}"
                     ng-click="kettle.pump.pin='TP-'+tp.deviceId; kettle.pump.pwm=false;"
                     class="dropdown-item" type="button">
                   {{ tp.alias }} <i class="fas fa-circle" ng-class="{'on':!!tp.status, 'off':!tp.status}" aria-hidden="true"></i> <span class="pininuse" ng-show="pinInUse('TP-'+tp.deviceId,kettle.arduino.id)">(In Use)</span>
                </button>
                <div class="dropdown-divider" ng-if="settings.tplink.token"></div>
                <h6 class="dropdown-header">Analog</h6>
                <div class="dropdown-divider"></div>
                <button ng-repeat="p in getPortRange(kettle.arduino.analog) track by $index"
                    ng-class="{'active': kettle.pump.pin=='A'+p}"
                    ng-click="kettle.pump.pin='A'+p; kettle.pump.pwm=false;"
                    class="dropdown-item" type="button">
                  {{ pinDisplay(kettle.arduino, 'A'+p) }} <span class="pininuse" ng-show="pinInUse('A'+p,kettle.arduino.id)">(In Use)</span>
                </button>
                <div class="dropdown-divider"></div>
                <h6 class="dropdown-header">Digital</h6>
                <div class="dropdown-divider"></div>
                <button ng-repeat="p in getPortRange(kettle.arduino.digital) track by $index"
                    ng-class="{'active': kettle.pump.pin=='D'+p}"
                    ng-click="kettle.pump.pin='D'+p;"
                    class="dropdown-item" type="button">
                  {{ pinDisplay(kettle.arduino, 'D'+p) }} <span class="pininuse" ng-show="pinInUse('D'+p,kettle.arduino.id)">(In Use)</span>
                </button>
              </div>
            </div>
            <div class="btn-group relay">
              <button type="button" class="btn" ng-class="{'btn-light':!kettle.pump.auto,'btn-success':kettle.pump.auto}" ng-click="kettle.pump.auto=!kettle.pump.auto">Auto</button>
              <button type="button" class="btn" ng-class="{'btn-light':!kettle.pump.running && !kettle.pump.auto,'btn-success':kettle.pump.running,'btn-warning':!kettle.pump.running && kettle.pump.auto}" ng-click="toggleKettle('pump',kettle)">
                <i class="fas fa-power-off fa-lg"></i>
              </button>
            </div>
          </div>
          <rzslider
            ng-if="kettle.pump.pwm"
            rz-slider-options="getKettleSliderOptions('pump', $index)"
            rz-slider-model="kettle.pump.dutyCycle">
          </rzslider>
        </div>

        <div class="col" ng-if="kettle.arduino && kettle.cooler && (kettle.type == 'fermenter' || kettle.type == 'air')">
          <label class="adjust" ng-class="{'cooling':kettle.cooler.running}">Cool
            <sup><a ng-if="kettle.cooler.pin.indexOf('D') === 0" href="" ng-click="togglePWM(kettle.cooler)">PWM ~</a></sup>
          </label>
          <div class="btn-group pb-3">
            <div class="btn-group">
              <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-disabled="kettle.cooler.running">
                {{ pinDisplay(kettle.arduino, kettle.cooler.pin) }} <span class="caret"></span>
              </button>
              <div class="dropdown-menu scrollable-menu">
                <button ng-click="kettle.cooler.ssr = !kettle.cooler.ssr"
                  class="ssr dropdown-item" type="button">
                  Solid State Relay
                  <i class="fas fa-lg" ng-class="{'fa-check text-success':kettle.cooler.ssr,'fa-circle-o':!kettle.cooler.ssr}"></i> <span ng-show="kettle.cooler.ssr" class="text-muted">{{kettle.cooler.dutyCycle}}%</span>
                </button>
                <div class="dropdown-divider"></div>
                <h6 class="dropdown-header" ng-if="settings.tplink.token">TP-Link</h6>
                <div class="dropdown-divider" ng-if="settings.tplink.token"></div>
                <button ng-if="settings.tplink.plugs"
                     ng-repeat="tp in settings.tplink.plugs track by $index"
                     ng-class="{'active': kettle.cooler.pin=='TP-'+tp.deviceId}"
                     ng-click="kettle.cooler.pin='TP-'+tp.deviceId; kettle.cooler.pwm=false;"
                     class="dropdown-item" type="button">
                   {{ tp.alias }} <i class="fas fa-circle" ng-class="{'on':!!tp.status, 'off':!tp.status}" aria-hidden="true"></i> <span class="pininuse" ng-show="pinInUse('TP-'+tp.deviceId,kettle.arduino.id)">(In Use)</span>
                </button>
                <div class="dropdown-divider" ng-if="settings.tplink.token"></div>
                <h6 class="dropdown-header">Analog</h6>
                <div class="dropdown-divider"></div>
                <button ng-repeat="p in getPortRange(kettle.arduino.analog) track by $index"
                    ng-class="{'active': kettle.cooler.pin=='A'+p}"
                    ng-click="kettle.cooler.pin='A'+p; kettle.cooler.pwm=false;"
                    class="dropdown-item" type="button">
                  {{ pinDisplay(kettle.arduino, 'A'+p) }} <span class="pininuse" ng-show="pinInUse('A'+p,kettle.arduino.id)">(In Use)</span>
                </button>
                <div class="dropdown-divider"></div>
                <h6 class="dropdown-header">Digital</h6>
                <div class="dropdown-divider"></div>
                <button ng-repeat="p in getPortRange(kettle.arduino.digital) track by $index"
                    ng-class="{'active': kettle.cooler.pin=='D'+p}"
                    ng-click="kettle.cooler.pin='D'+p;"
                    class="dropdown-item" type="button">
                  {{ pinDisplay(kettle.arduino, 'D'+p) }} <span class="pininuse" ng-show="pinInUse('D'+p,kettle.arduino.id)">(In Use)</span>
                </button>
              </div>
            </div>
            <div class="btn-group relay">
              <button type="button" class="btn" ng-class="{'btn-light':!kettle.cooler.auto,'btn-success':kettle.cooler.auto}" ng-click="kettle.cooler.auto=!kettle.cooler.auto">Auto</button>
              <button type="button" class="btn" ng-class="{'btn-light':!kettle.cooler.running && !kettle.cooler.auto,'btn-success':kettle.cooler.running,'btn-warning':!kettle.cooler.running&&kettle.cooler.auto}" ng-click="toggleKettle('cool',kettle)">
                <i class="fas fa-power-off fa-lg"></i>
              </button>
            </div>
          </div>
          <rzslider
            ng-if="kettle.cooler.pwm"
            rz-slider-options="getKettleSliderOptions('cool', $index)"
            rz-slider-model="kettle.cooler.dutyCycle">
          </rzslider>
        </div>
      </div>

      </div>

    </div>

    <div class="card-body">
      <div class="row">
        <div class="col mr-auto">
          <ui-knob ng-if="BrewService.sensorTypes(kettle.temp.type).percent"
            ng-click="knobClick(kettle)"
            value="(kettle.percent | round:0)"
            options="kettle.knob">
          </ui-knob>
          <ui-knob ng-if="!BrewService.sensorTypes(kettle.temp.type).percent"
            ng-click="knobClick(kettle)"
            value="(kettle.temp.current | round:0)"
            options="kettle.knob">
          </ui-knob><br/>
          <div ng-if="kettle.temp.type.indexOf('DHT') === 0">
            Humidity {{ kettle.percent || 0}} % <br/>
          </div>
          <div ng-if="kettle.temp.type.indexOf('BMP') === 0">
            <span ng-if="settings.general.unit=='F'">
              Altitude {{ kettle.altitude * 3.28084 | number:0}} feet <br/>
            </span>
            <span ng-if="settings.general.unit=='C'">
              Altitude {{ kettle.altitude | number:0}} meters <br/>
            </span>
            Pressure {{ kettle.pressure | number:2}} in. <br/>
          </div>
          <span class="badge badge-pill badge-prev badge-danger" ng-show="kettle.temp.previous && (kettle.temp.previous | round:0) > (kettle.temp.current | round:0)" title="Last {{ kettle.temp.previous }}">{{kettle.temp.previous}}
            {{ !!BrewService.sensorTypes(kettle.temp.type).percent ? '%' : '&deg;'+settings.general.unit }} &darr;
          </span>
          <span class="badge badge-pill badge-prev badge-success" ng-show="kettle.temp.previous && (kettle.temp.previous | round:0) < (kettle.temp.current | round:0)" title="Last {{ kettle.temp.previous }}">{{kettle.temp.previous}}
            {{ !!BrewService.sensorTypes(kettle.temp.type).percent ? '%' : '&deg;'+settings.general.unit }} &uarr;
          </span>
        </div>
        <div class="col" ng-if="shareAccess('fullAccess')">
          <div class="row">
            <div class="col">
              <label class="adjust">Target</label>
              <div class="btn-group" role="group">
                <a class="btn btn-light" style="padding-top: 9px; width: 100px;"><editable type="number" model="kettle.temp.target">{{kettle.temp.target}}</editable>
                  {{ !!BrewService.sensorTypes(kettle.temp.type).percent ? '%' : '&deg;'+settings.general.unit }}
                </a>
                <a class="btn btn-light" ng-click="changeValue(kettle,'target',false)" style="padding-top: 12px;"><i class="fas fa-minus fa-lg"></i></a>
                <a class="btn btn-light" ng-click="changeValue(kettle,'target',true)" style="padding-top: 12px;"><i class="fas fa-plus fa-lg"></i></a>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <label class="adjust">Diff</label>
              <div class="btn-group" role="group">
                <a class="btn btn-light" style="padding-top: 9px; width: 100px;"><editable type="number" model="kettle.temp.diff">{{kettle.temp.diff}}</editable>
                  {{ !!BrewService.sensorTypes(kettle.temp.type).percent ? '%' : '&deg;'+settings.general.unit }}
                </a>
                <a class="btn btn-light" ng-click="changeValue(kettle,'diff',false)" style="padding-top: 12px;"><i class="fas fa-minus fa-lg"></i></a>
                <a class="btn btn-light" ng-click="changeValue(kettle,'diff',true)" style="padding-top: 12px;"><i class="fas fa-plus fa-lg"></i></a>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <label class="adjust">Adjust</label>
              <div class="btn-group" role="group">
                <a class="btn btn-light" style="padding-top: 9px; width: 100px;"><editable type="number" model="kettle.temp.adjust" placeholder="0">{{kettle.temp.adjust}}</editable>
                  {{ !!BrewService.sensorTypes(kettle.temp.type).percent ? '%' : '&deg;'+settings.general.unit }}
                </a>
                <a class="btn btn-light" ng-click="changeValue(kettle,'adjust',false)" style="padding-top: 12px;"><i class="fas fa-minus fa-lg"></i></a>
                <a class="btn btn-light" ng-click="changeValue(kettle,'adjust',true)" style="padding-top: 12px;"><i class="fas fa-plus fa-lg"></i></a>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <label class="adjust">Timers</label>
              <!--  grain timers -->
              <div class="btn-group" role="group" ng-if="kettle.type=='grain'">
                  <button type="button" class="btn btn-light add-timer" ng-click="addTimer(kettle)" data-toggle="tooltip" title="Add timer"><img src="/assets/img/grain.svg" width="32"></button>
                    <div class="btn-group" role="group">
                      <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></button>
                      <div class="dropdown-menu scrollable-menu dropdown-menu-right">
                        <button ng-repeat="grain in grains"
                        ng-click="addTimer(kettle,{label:grain.name,min:60})"
                        class="dropdown-item" type="button">
                        {{grain.name}}
                      </button>
                    </div>
                  </div>
              </div>
              <!--  hot timers -->
              <div class="btn-group" role="group" ng-if="kettle.type=='hop'">
                  <button type="button" class="btn btn-light add-timer" ng-click="addTimer(kettle)" data-toggle="tooltip" title="Add timer"><img src="/assets/img/hop.svg" width="32"></button>
                  <div class="btn-group" role="group">
                      <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></button>
                      <div class="dropdown-menu scrollable-menu dropdown-menu-right">
                        <button ng-click="addTimer(kettle,{label:'Whirlfloc',min:10})"
                        class="dropdown-item" type="button">
                        Whirlfloc
                      </button>
                      <button ng-repeat="hop in hops"
                      ng-click="addTimer(kettle,{label:hop.name,min:30})"
                      class="dropdown-item" type="button">
                      {{hop.name}}
                    </button>
                  </div>
                </div>
              </div>
              <!--  water timers -->
              <div class="btn-group" role="group" ng-if="kettle.type=='water'">
                  <button type="button" class="btn btn-light add-timer" ng-click="addTimer(kettle)" data-toggle="tooltip" title="Add timer"><img src="/assets/img/water.svg" width="32"></button>
                  <div class="btn-group" role="group">
                    <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></button>
                    <div class="dropdown-menu scrollable-menu dropdown-menu-right">
                      <button ng-repeat="w in water"
                      ng-click="addTimer(kettle,{label:w.name||w.salt,min:60})"
                      class="dropdown-item" type="button">
                      {{w.name||w.salt}}
                    </button>
                  </div>
                </div>
              </div>
              <!--  generic timers -->
              <div class="btn-group" role="group" ng-if="['grain','hop','water'].indexOf(kettle.type) === -1">
                  <button type="button" class="btn btn-light add-timer" ng-click="addTimer(kettle)" data-toggle="tooltip" title="Add timer">
                    <img ng-if="['air','seedling','cannabis'].indexOf(kettle.type) === -1" class="type {{ kettle.type }}" ng-src="/assets/img/{{kettle.type}}.svg" width="32"/>
                    <i ng-if="kettle.type == 'air'" class="fas fa-thermometer-quarter fa-2x type"></i>
                    <i ng-if="kettle.type == 'seedling'" class="fas fa-seedling fa-lg type"></i>
                    <i ng-if="kettle.type == 'cannabis'" class="fas fa-cannabis fa-2x type"></i>
                  </button>
              </div>

              <button type="button" class="btn btn-light" ng-click="removeTimers($event,kettle)" ng-if="kettle.timers.length" data-toggle="tooltip" title="Delete all timers">
                <i class="fas fa-trash-alt fa-lg"></i>
              </button>

            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="row timers" ng-if="shareAccess('fullAccess')">
        <div class="col">
            <div class="row timer-block" ng-repeat="timer in kettle.timers track by $index" ng-class="{'running':(timer.running && !timer.up), 'queue': timer.queue, 'finished': timer.up}">
            <div class="col-auto mr-auto">
              <label class="adjust"><editable model="timer.label"></editable> <sup ng-if="timer.queue" class="queue">in queue</sup></label>
              <label class="notes" ng-if="timer.notes"><editable model="timer.notes"></editable></label>
              <editable class="timer" ng-show="!timer.up" type="number" model="timer.min"></editable><span class="timer-secs" ng-if="!timer.up">: {{timer.sec}}</span>
              <span class="count-up" ng-show="timer.up" ng-click="timerStart(timer,kettle)">{{timer.up.min}}</span><span ng-if="timer.up" class="timer-secs-up" ng-click="timerStart(timer,kettle)">: {{timer.up.sec}}</span>
            </div>
            <div class="col-auto">
              <div class="btn-group" role="group">
                  <button type="button" class="btn btn-light" ng-if="timer.min!==null" ng-click="timerStart(timer,kettle)" ng-disabled="timer.queue"><i class="fas fa-lg" ng-class="{'fa-stop-circle':timer.running||timer.up.running,'fa-play-circle':!timer.running && !timer.queue && !timer.up.running,'fa-clock-o':timer.queue}"></i></button>
                  <button type="button" class="btn btn-light" ng-if="timer.min!==null" ng-click="timer.min=timer.min-1" ng-disabled="timer.up"><i class="fas fa-minus fa-lg"></i></button>
                  <button type="button" class="btn btn-light" ng-if="timer.min!==null" ng-click="timer.min=timer.min+1" ng-disabled="timer.up"><i class="fas fa-plus fa-lg"></i></button>
              </div>
              <button type="button" class="btn btn-light" ng-click="kettle.timers.splice($index, 1);"><i class="fas fa-trash-alt fa-lg"></i></button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div ng-if="settings.general.debug">
      <label class="adjust" style="margin-left: 14px;">Debug</label>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          raw read: {{ kettle.temp.raw }}<br/>
          volts: {{ kettle.temp.volts }}<br/>
          bit calc temp: {{ BrewService.bitcalc(kettle) }} &deg;C<br/>
          bit calc temp: {{ BrewService.bitcalc(kettle) | toFahrenheit }} &deg;F<br/>
          percent: {{ kettle.percent || 'N/A' }} %<br/>
          measured: {{ kettle.temp.measured }} &deg;{{ settings.general.unit }}<br/>
          adjusted: {{ kettle.temp.adjust }} &deg;{{ settings.general.unit }}<br/>
          current: {{ kettle.temp.current }} &deg;{{ settings.general.unit }}<br/>
          previous: {{ kettle.temp.previous }} &deg;{{ settings.general.unit }}<br/>
          <span ng-if="settings.general.unit=='F'">
            celsius: {{ kettle.temp.current ? (kettle.temp.current | toCelsius) : 0 }} &deg;C<br/>
          </span>
          <span ng-if="settings.general.unit=='C'">
            fahrenheit: {{ kettle.temp.current ? (kettle.temp.current | toFahrenheit) : 0 }} &deg;F
          </span>
        </li>
      </ul>
    </div>
    <div class="card-footer" ng-if="shareAccess('fullAccess')">
        <span ng-if="kettle.notify.streams" class="badge badge-pill badge-dark badge-streams float-left status-{{ kettle.message.status }}">
          <img src="/assets/img/brewbench-colors.png" width="25" style="border-radius:10px;"/> Streaming
        </span>
        <i class="fas fa-1x float-right" ng-class="{'fa-chevron-left':!showRemoveKettle,'fa-chevron-right':showRemoveKettle}" aria-hidden="true" ng-click="showRemoveKettle=!showRemoveKettle"></i>
        <button type="button" ng-show="showRemoveKettle" class="btn btn-danger btn-sm float-right" ng-click="removeKettle(kettle, $index); showRemoveKettle=!showRemoveKettle">Remove Kettle</button>
    </div>
  </div>
</div>
</div>
<br>
