<ng-include src="'views/header.html'"></ng-include>

<div class="container-fluid main">
  <div class="flex-row share" ng-if="settings.shared && !shareAccess('embed')">
    <div class="col">
      <div class="alert alert-info alert-dismissible share">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="clearSettings()"><i class="fa fa-trash"></i></button>
        <h3>Shared Session <sup>from</sup> <a href="mailto: {{settings.recipe.brewer.email}}">{{settings.recipe.brewer.name}}</a></h3>
        <form ng-if="share.needPassword">
          A password is required to load this session <br>
          <div class="input-group">
            <input type="password" class="form-control" ng-model="share.password" placeholder="Enter the share password" ng-enter="loadShareFile()">
            <span class="input-group-btn">
              <button class="btn btn-primary" type="button" ng-click="loadShareFile()">Unlock Share</button>
            </span>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="row" ng-disabled="share.needPassword" ng-class="{'disabled':share.needPassword}">
    <div class="col-auto sticky-layout" ng-if="hasStickyKettles()">
      <ng-include src="'views/kettles-sticky.html'"></ng-include>
    </div>
    <div class="col">
      <div class="alert alert-{{error.type}} alert-dismissible" role="alert" ng-if="error.message">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="resetError()"><span aria-hidden="true">&times;</span></button>
        <strong>{{error.type}}</strong> <span ng-bind-html="error.message">{{error.message}}</span>
      </div>
      <div class="pb-4">
        <i class="chart-toggle fa fa-area-chart fa-lg float-right"
          ng-class="{'on':settings.chart,'off':!settings.chart}"
          ng-click="settings.chart=!settings.chart" aria-hidden="true"></i>
      </div>
      <nvd3 options="chartOptions" data="kettles" ng-show="settings.chart"></nvd3>
    </div>
  </div>
  <div class="flex-row" ng-disabled="share.needPassword" ng-class="{'disabled':share.needPassword}">
    <ng-include src="'views/recipe.html'"></ng-include>
  </div>
  <div class="flex-row" ng-disabled="share.needPassword" ng-class="{'disabled':share.needPassword}">
    <ng-include ng-if="settings.layout=='list'" src="'views/kettles-list.html'"></ng-include>
    <ng-include ng-if="settings.layout=='card'" src="'views/kettles-card.html'"></ng-include>
  </div>
</div>

<ng-include src="'views/account.html'"></ng-include>
<ng-include src="'views/settings.html'"></ng-include>
<ng-include src="'views/sketches.html'"></ng-include>
<ng-include src="'views/share.html'"></ng-include>
<ng-include src="'views/import.html'"></ng-include>
<ng-include src="'views/data.html'"></ng-include>
<ng-include src="'views/calc.html'"></ng-include>
<ng-include src="'views/about.html'"></ng-include>
<ng-include src="'views/styles.html'"></ng-include>
<ng-include src="'views/footer.html'"></ng-include>
