<ng-include src="'views/header.html'"></ng-include>

<div class="container-fluid main">
  <div class="flex-row share" ng-if="settings.shared && !shareAccess('embed')">
    <div class="col">
      <div class="alert alert-info alert-dismissible share">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="clearSettings()"><i class="fa fa-trash"></i></button>
        <h3>Shared Session <sup>from</sup> <a href="mailto: {{settings.recipe.brewer.email}}">{{settings.recipe.brewer.name}}</a></h3>
        <form ng-if="share.needPassword">
          A password is required to load this session <br>
          <div class="input-group">
            <input type="password" class="form-control" ng-model="share.password" placeholder="Enter the share password" ng-enter="loadShareFile()">
            <span class="input-group-btn">
              <button class="btn btn-primary" type="button" ng-click="loadShareFile()">Unlock Share</button>
            </span>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="row" ng-disabled="share.needPassword" ng-class="{'disabled':share.needPassword}">
    <div class="col-auto sticky-layout" ng-if="hasStickyKettles()">
      <ng-include src="'views/kettles-sticky.html'"></ng-include>
    </div>
    <div class="col pb-3">
      <div class="alert alert-{{error.type}} alert-dismissible" role="alert" ng-if="error.message">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="resetError()"><span aria-hidden="true">&times;</span></button>
        <strong>{{error.type}}</strong> <span ng-bind-html="error.message">{{error.message}}</span>
      </div>
      <div class="pb-5">
        <a href="" class="chart-toggle float-right" ng-click="settings.chart=!settings.chart" ng-class="{'on':settings.chart.show,'off':!settings.chart.show}">
        <i class="fa fa-area-chart"
          ng-class="{'on':settings.chart.show,'off':!settings.chart.show}"
          aria-hidden="true"></i>
        </a>
      </div>
      <nvd3 options="chartOptions" data="kettles" ng-show="settings.chart"></nvd3>
      <div class="row">
        <div class="col-auto">
          <button class="btn btn-light" ng-click="addKettle()" ng-if="shareAccess('fullAccess')">Add Kettle</button>
        </div>
        <div class="col-auto" ng-if="settings.streams.api_key && settings.streams.status=='Connected'">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text bg-dark"><img src="/assets/img/brewbench-colors.png" width="25" style="border-radius: 10px;"/></span>
            </div>
            <input class="form-control" type="text" ng-model="settings.streams.session.name" placeholder="Session Name"/>
            <div class="input-group-append">
              <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ settings.streams.session.type ? (settings.streams.session.type | titlecase) : 'Type'}}
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#" ng-click="settings.streams.session.type='brewing'">Brewing</a>
                <a class="dropdown-item" href="#" ng-click="settings.streams.session.type='fermentation'">Fermentation</a>
              </div>
              </div>
              <div class="input-group-append">
                <button class="btn btn-light" type="button" ng-click="streams.sessions.save()">Save</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="flex-row" ng-disabled="share.needPassword" ng-class="{'disabled':share.needPassword}">
    <ng-include src="'views/recipe.html'"></ng-include>
  </div>
  <div class="flex-row" ng-disabled="share.needPassword" ng-class="{'disabled':share.needPassword}">
    <ng-include ng-if="settings.layout=='list'" src="'views/kettles-list.html'"></ng-include>
    <ng-include ng-if="settings.layout=='card'" src="'views/kettles-card.html'"></ng-include>
  </div>
</div>

<ng-include src="'views/account.html'"></ng-include>
<ng-include src="'views/settings.html'"></ng-include>
<ng-include src="'views/sketches.html'"></ng-include>
<ng-include src="'views/share.html'"></ng-include>
<ng-include src="'views/import.html'"></ng-include>
<ng-include src="'views/data.html'"></ng-include>
<ng-include src="'views/calc.html'"></ng-include>
<ng-include src="'views/about.html'"></ng-include>
<ng-include src="'views/styles.html'"></ng-include>
<ng-include src="'views/footer.html'"></ng-include>
