<div class="modal fade" id="settingsModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title"><i class="fa fa-gear fa-lg" aria-hidden="true"></i> Settings</h1>
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <div class="btn-group float-right">
          <span class="btn btn-light btn-file">
            Import <input type="file" on-read-file="importSettings($fileContent,$ext)" accept=".json"/>
          </span>
          <a class="btn btn-light" href="{{exportSettings()}}" download="brewbench-profile.json">Export</a>
          <a class="btn btn-danger" href="" ng-click="clearSettings($event)">Delete Settings</a>
        </div>

    <div id="settings" class="settings">

    <div class="card-body">
        <div class="pb-3">
          <h4>Temperature</h4>
          <div class="input-group" role="group">
            <input id="celsius" class="degree" type="radio" ng-checked="settings.unit=='C'" value="C" ng-click="changeUnits('C')"> <label for="celsius">&deg;C</label>&nbsp;&nbsp;
            <input id="fahrenheit" class="degree" type="radio" ng-checked="settings.unit=='F'" value="F" ng-click="changeUnits('F')"> <label for="fahrenheit">&deg;F</label>
          </div>
        </div>

        <div class="pb-3">
          <h4>Layout</h4>
          <div class="input-group" role="group">
            <input id="list" class="degree" type="radio" ng-checked="settings.layout=='list'" value="list" ng-click="settings.layout='list'"> <label for="list">List</label>&nbsp;&nbsp;
            <input id="card" class="degree" type="radio" ng-checked="settings.layout=='card'" value="card" ng-click="settings.layout='card'"> <label for="card">Card</label>
          </div>
        </div>

        <div class="pb-3">
          <h4>Notifications
            <button class="btn btn-primary pull-right" ng-click="alert()" ng-disabled="!settings.notifications.on">Test</button>
          </h4>
          <ul class="tg-list">
            <li class="tg-list-item">
              <span>{{settings.notifications.on?'On':'Off'}}</span>
              <input class="tgl tgl-ios" id="notifications" type="checkbox" ng-checked="settings.notifications.on" ng-click="settings.notifications.on = !settings.notifications.on"/>
              <label class="tgl-btn" for="notifications"></label>
            </li>
          </ul>
          <ul class="tg-list">
            <li class="tg-list-item">
              <span>Sounds</span>
              <input class="tgl tgl-ios" id="sounds" type="checkbox" ng-checked="settings.notifications.on && settings.sounds.on" ng-disabled="!settings.notifications.on" ng-click="settings.sounds.on = !settings.sounds.on"/>
              <label class="tgl-btn" for="sounds"></label>
            </li>
            <li class="tg-list-item">
              <span>Timers</span>
              <input class="tgl tgl-ios" id="timers" type="checkbox" ng-checked="settings.notifications.on && settings.notifications.timers" ng-disabled="!settings.notifications.on" ng-click="settings.notifications.timers = !settings.notifications.timers"/>
              <label class="tgl-btn" for="timers"></label>
            </li>
            <li class="tg-list-item">
              <span>High</span>
              <input class="tgl tgl-ios" id="high" type="checkbox" ng-checked="settings.notifications.on && settings.notifications.high" ng-disabled="!settings.notifications.on" ng-click="settings.notifications.high = !settings.notifications.high"/>
              <label class="tgl-btn" for="high"></label>
            </li>
            <li class="tg-list-item">
              <span>Low</span>
              <input class="tgl tgl-ios" id="low" type="checkbox" ng-checked="settings.notifications.on && settings.notifications.low" ng-disabled="!settings.notifications.on" ng-click="settings.notifications.low = !settings.notifications.low"/>
              <label class="tgl-btn" for="low"></label>
            </li>
            <li class="tg-list-item">
              <span>Target</span>
              <input class="tgl tgl-ios" id="target" type="checkbox" ng-checked="settings.notifications.on && settings.notifications.target" ng-disabled="!settings.notifications.on" ng-click="settings.notifications.target = !settings.notifications.target"/>
              <label class="tgl-btn" for="target"></label>
            </li>
          </ul>

          <label class="adjust">Slack</label>
          <a href="https://api.slack.com/incoming-webhooks" title="https://api.slack.com/incoming-webhooks" target="_blank"><img src="/assets/img/Slack_Mark_Web.png" width="45"></a>
          <editable class="poll" trim="30" model="settings.notifications.slack"></editable>
        </div>

        <div class="pb-3">
          <h4>Kettles</h4>
          <label class="adjust">Add a kettle</label>
          <div class="btn-group item" ng-repeat="kettle in kettleTypes">
            <button class="btn btn-light" ng-click="addKettle(kettle.type)">
              <img ng-if="kettle.type != 'air'" class="type" ng-src="/assets/img/{{kettle.type}}.svg" height="30"/>
              <i ng-if="kettle.type == 'air'" class="fa fa-thermometer-quarter fa-2x type"></i>
            </button>
            <div class="floating ui blue circular label">{{kettleCount(kettle.type)}}</div>
          </div>
        </div>

        <div class="pb-3">
          <h4>Arduinos</h4>
          <div class="btn btn-group">
            <button class="btn btn-primary" ng-click="arduinos.add()">Add Arduino</button>

            <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Download Sketch <span class="caret"></span>
            </button>
            <div class="dropdown-menu scrollable-menu">
              <a href="assets/BrewBenchYun/BrewBenchYun.ino" class="dropdown-item">Arduino Yun</a>
              <a href="" ng-click="downloadInfluxDBSketch()" class="dropdown-item" ng-class="{'disabled':!settings.influxDB.url}">Arduino Yun w/InfluxDB</a>
            </div>
          </div>

          <label class="adjust">InfluxDB</label>
          <div class="row">
            <div class="col-6">
              <editable class="poll" type="text" model="settings.influxDB.url" placeholder="http://InfluxDBUrl"></editable>
            </div>
            <div class="col-2">
              <editable class="poll" type="number" model="settings.influxDB.port"></editable>
            </div>
            <div class="col-2">
              <i class="fa" ng-class="{'fa-circle-o-notch fa-spin fa-2x':!!settings.influxDB.testing, 'fa-check-circle fa-2x':!!settings.influxDB.connected, 'fa-times-circle fa-2x':settings.influxDB.connected === false}" aria-hidden="true"></i>
            </div>
            <div class="col-2">
              <button class="btn"
                ng-click="testInfluxDB()"
                ng-disabled="!settings.influxDB.url"
                ng-class="{'btn-light':!settings.influxDB.url, 'btn-primary':settings.influxDB.url}">
                  Test
                </button>
            </div>
          </div>

          <label class="adjust">Poll every</label>
          <div class="col pb-4">
            <editable class="poll" type="number" model="settings.pollSeconds" step="1" min="5"></editable> Seconds
            <span class="btn-group float-right">
              <button type="button" class="btn btn-light"><i class="fa fa-minus fa-lg" ng-click="(settings.pollSeconds > 5) ? settings.pollSeconds=settings.pollSeconds-1 : 5"></i></button>
              <button type="button" class="btn btn-light"><i class="fa fa-plus fa-lg" ng-click="settings.pollSeconds=settings.pollSeconds+1"></i></button>
            </span>
          </div>

          <table class="table table-striped table-responsive">
          <thead class="thead-inverse">
            <tr>
              <th>http(s)</th>
              <th>URL</th>
              <!-- <th>Password</th> -->
              <th>Analog Ports</th>
              <th>Digital Ports</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="arduino in settings.arduinos">
              <td class="text-left">
                <button class="btn btn-light" ng-show="!arduino.secure" ng-click="arduino.secure=true; arduinos.update(arduino)">http</button>
                <button class="btn btn-success" ng-show="arduino.secure" ng-click="arduino.secure=false; arduinos.update(arduino)">https</button>
              </td>
              <td class="text-left"><editable class="poll" type="text" model="arduino.url" enter="arduinos.update(arduino)"></editable></td>
              <!-- <td class="text-left">
                <input ng-show="!!arduino.showpass" type="password" ng-model="arduino.password" ng-enter="arduino.showpass=false; arduinos.update(arduino)"></input>
                <a href="" ng-show="!arduino.showpass" ng-click="arduino.showpass=true">*******</a>
              </td> -->
              <td class="text-left"><editable class="poll" type="number" model="arduino.analog" enter="arduinos.update(arduino)"></editable></td>
              <td class="text-left"><editable class="poll" type="number" model="arduino.digital" enter="arduinos.update(arduino)"></editable></td>
              <td><a href="" ng-click="arduinos.delete($index, arduino)"><i class="fa fa-trash fa-lg text-danger"></i></a></td>
            </tr>
          </tbody>
        </table>

        </div>
      </div>
    </div>
  </div>

</div>
</div>
</div>
