<div class="modal fade" id="settingsModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title"><i class="fas fa-gear fa-lg" aria-hidden="true"></i> Settings</h1>
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body settings">
        <div class="btn-group float-left">
          <span class="btn btn-light btn-file">
            Import <input type="file" on-read-file="importSettings($fileContent,$ext)" accept=".json"/>
          </span>
          <a class="btn btn-light" href="{{exportSettings()}}" download="brewbench-profile-{{pkg.version}}.json">Export</a>
        </div>
        <div class="btn-group float-right">
          <a class="btn btn-danger" href="" ng-click="clearSettings($event)">Delete Settings</a>
        </div>
        <div class="row-new"></div>
    <div id="settings">

    <div class="card-body">

        <div class="alert alert-{{error.type}} alert-dismissible" role="alert" ng-if="error.message">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <strong>{{error.type}}</strong> <span ng-bind-html="error.message">{{error.message}}</span>
        </div>

        <div class="pb-3">
          <h4>General</h4>
          <div class="block-border">
            <div class="row">
              <div class="col-lg-4 col-sm-4">
                <label class="adjust">Temperature</label>
                <div class="input-group" role="group">
                  <input id="celsius" class="degree" type="radio" ng-checked="settings.general.unit=='C'" value="C" ng-click="changeUnits('C')"> <label for="celsius">&deg;C</label>&nbsp;&nbsp;
                  <input id="fahrenheit" class="degree" type="radio" ng-checked="settings.general.unit=='F'" value="F" ng-click="changeUnits('F')"> <label for="fahrenheit">&deg;F</label>
                </div>
              </div>
              <div class="col-lg-4 col-sm-4">
                <label class="adjust">Chart</label>
                <ul class="tg-list">
                  <li class="tg-list-item">
                    <label>Area</label>
                    <input class="tgl tgl-ios" id="area" type="checkbox" ng-checked="settings.chart.area" ng-click="settings.chart.area = !settings.chart.area"/>
                    <label class="tgl-btn" for="area"></label>
                  </li>
                  <li class="tg-list-item">
                    <label>24hr</label>
                    <input class="tgl tgl-ios" id="24hr" type="checkbox" ng-checked="settings.chart.military" ng-click="settings.chart.military = !settings.chart.military"/>
                    <label class="tgl-btn" for="24hr"></label>
                  </li>
                </ul>
              </div>
              <div class="col-lg-4 col-sm-4">
                <ul class="tg-list">
                  <li class="tg-list-item">
                    <label class="adjust">Debug</label>
                    <input class="tgl tgl-ios" id="debug" type="checkbox" ng-checked="settings.general.debug" ng-click="settings.general.debug = !settings.general.debug"/>
                    <label class="tgl-btn" for="debug"></label>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="pb-3">
          <h4>Notifications
            <i class="fas fa-bell fa-lg float-right" aria-hidden="true"></i>
          </h4>
          <div class="block-border">
            <button type="button" class="btn btn-primary float-right" ng-click="notify()" ng-disabled="!settings.notifications.on">Test</button>

            <div class="row new">
              <div class="col-lg-6 col-sm-12">
                <label class="adjust">Browser</label>
                <ul class="tg-list">
                  <li class="tg-list-item">
                    <span>{{settings.notifications.on?'On':'Off'}}</span>
                    <input class="tgl tgl-ios" id="notifications" type="checkbox" ng-checked="settings.notifications.on" ng-click="settings.notifications.on = !settings.notifications.on"/>
                    <label class="tgl-btn" for="notifications"></label>
                  </li>
                </ul>
                <ul class="tg-list row">
                  <li class="tg-list-item col-sm-3">
                    <span>Sounds</span>
                    <input class="tgl tgl-ios" id="sounds" type="checkbox" ng-checked="settings.notifications.on && settings.sounds.on" ng-disabled="!settings.notifications.on" ng-click="settings.sounds.on = !settings.sounds.on"/>
                    <label class="tgl-btn" ng-class="{'disabled':!settings.notifications.on}" for="sounds"></label>
                  </li>
                  <li class="tg-list-item col-sm-3">
                    <span>Timers</span>
                    <input class="tgl tgl-ios" id="timers" type="checkbox" ng-checked="settings.notifications.on && settings.notifications.timers" ng-disabled="!settings.notifications.on" ng-click="settings.notifications.timers = !settings.notifications.timers"/>
                    <label class="tgl-btn" ng-class="{'disabled':!settings.notifications.on}" for="timers"></label>
                  </li>
                  <li class="tg-list-item col-sm-3">
                    <span>High</span>
                    <input class="tgl tgl-ios" id="high" type="checkbox" ng-checked="settings.notifications.on && settings.notifications.high" ng-disabled="!settings.notifications.on" ng-click="settings.notifications.high = !settings.notifications.high"/>
                    <label class="tgl-btn" ng-class="{'disabled':!settings.notifications.on}" for="high"></label>
                  </li>
                  <li class="tg-list-item col-sm-3">
                    <span>Low</span>
                    <input class="tgl tgl-ios" id="low" type="checkbox" ng-checked="settings.notifications.on && settings.notifications.low" ng-disabled="!settings.notifications.on" ng-click="settings.notifications.low = !settings.notifications.low"/>
                    <label class="tgl-btn" ng-class="{'disabled':!settings.notifications.on}" for="low"></label>
                  </li>
                  <li class="tg-list-item col-sm-3">
                    <span>Target</span>
                    <input class="tgl tgl-ios" id="target" type="checkbox" ng-checked="settings.notifications.on && settings.notifications.target" ng-disabled="!settings.notifications.on" ng-click="settings.notifications.target = !settings.notifications.target"/>
                    <label class="tgl-btn" ng-class="{'disabled':!settings.notifications.on}" for="target"></label>
                  </li>
                </ul>
              </div>
              <div class="col-lg-6 col-sm-12">
                <label class="adjust">Slack</label> <a href="https://my.slack.com/services/new/incoming-webhook" target="_blank">Setup a Webhook Integration</a>
                <div class="input-group">
                  <span class="input-group-addon" style="padding: 0;">
                    <a href="https://api.slack.com/incoming-webhooks" title="https://api.slack.com/incoming-webhooks" target="_blank"><img src="/assets/img/Slack_Mark_Web.png" width="45"></a>
                  </span>
                  <input class="form-control" trim="30" ng-model="settings.notifications.slack" placeholder="Webhook URL">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="pb-3">
          <h4>Kettles
            <i class="fas fa-cauldron fa-lg float-right" aria-hidden="true"></i>
          </h4>
          <div class="block-border">
            <label class="adjust">Add a kettle</label>
            <div class="btn-group item" ng-repeat="kettle in kettleTypes">
              <button type="button" class="btn btn-light {{kettle.type}}" ng-click="addKettle(kettle.type)">
                <img ng-if="['air','seedling','cannabis'].indexOf(kettle.type) === -1" class="type" ng-src="/assets/img/{{kettle.type}}.svg" height="30"/>
                <i ng-if="kettle.type == 'air'" class="fas fa-thermometer-quarter fa-2x type"></i>
                <i ng-if="kettle.type == 'seedling'" class="fas fa-seedling fa-lg type"></i>
                <i ng-if="kettle.type == 'cannabis'" class="fas fa-cannabis fa-2x type"></i>
              </button>
              <div class="floating ui blue circular label">{{kettleCount(kettle.type)}}</div>
            </div>
          </div>
        </div>

        <div class="row-new"></div>
        <div class="pb-3">
          <h4>Arduinos
            <img src="/assets/img/arduino.svg" width="32" class="float-right">
            <a href="" ng-click="openSketches()" class="float-right" style="font-size: 18px;padding-right: 10px; margin-top: 8px;">Sketches</a>
          </h4>
          <div class="block-border">
            <div class="row new">
              <div class="col-4">
                <label class="adjust">Poll Frequency</label>
                <div class="input-group">
                  <input class="form-control" type="number" ng-model="settings.general.pollSeconds" step="1" min="5">
                  <span class="input-group-append">
                    <button type="button" class="btn btn-light"><i class="fas fa-minus fa-lg" ng-click="(settings.general.pollSeconds > 5) ? settings.general.pollSeconds=settings.general.pollSeconds-1 : 5"></i></button>
                    <button type="button" class="btn btn-light"><i class="fas fa-plus fa-lg" ng-click="settings.general.pollSeconds=settings.general.pollSeconds+1"></i></button>
                  </span>
                </div>
                <small class="form-text text-muted">Every {{settings.general.pollSeconds}} seconds</small>
              </div>
            </div>

            <div class="float-right pb-2">
              <button type="button" class="btn btn-primary" ng-click="arduinos.add()">Add Arduino</button>
            </div>
            <div class="table-responsive">
            <table class="table table-striped">
              <thead class="thead-dark">
                <tr>
                  <th>Online</th>
                  <th>URL</th>
                  <th>Sketch</th>
                  <!-- <th>Password</th> -->
                  <th>Analog Ports</th>
                  <th>Digital Ports</th>
                  <th>ADC Ports</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="arduino in settings.arduinos track by $index">
                  <td><i class="fas fa-circle fa-lg" ng-class="{'orange':(!site.https && arduino.secure),'on':(!arduino.status.error && arduino.status.dt),'off':!!arduino.status.error}" aria-hidden="true"></i></td>
                  <td class="text-left">
                    <div class="input-group">
                      <span class="input-group-prepend">
                        <button type="button" class="btn btn-light" ng-show="!arduino.secure" ng-click="arduino.secure=true; arduinos.update(arduino)">http</button>
                        <button type="button" class="btn btn-success" ng-show="arduino.secure" ng-click="arduino.secure=false; arduinos.update(arduino)">https</button>
                      </span>
                      <input class="form-control" type="text" ng-model="arduino.url" ng-change="arduinos.update(arduino)" placeholder="URL" style="min-width: 200px;">
                    </div>
                    <small class="text-muted" ng-show="(arduino.board)">&nbsp;Board: {{arduino.board}}
                      <span ng-show="BrewService.isESP(arduino)" class="badge badge-pill badge-info">ESP</span>
                    </small>
                    <small class="text-muted" ng-if="arduino.RSSI">
                      <br/>&nbsp;Wifi:
                      <i class="fas fa-signal-1 fa-2x" ng-if="(arduino.RSSI | dbmPercent) < 25"></i>
                      <i class="fas fa-signal-2 fa-2x" ng-if="(arduino.RSSI | dbmPercent) >= 25 && (arduino.RSSI | dbmPercent) < 50"></i>
                      <i class="fas fa-signal-3 fa-2x" ng-if="(arduino.RSSI | dbmPercent) >= 50 && (arduino.RSSI | dbmPercent) <= 75"></i>
                      <i class="fas fa-signal-4 fa-2x" ng-if="(arduino.RSSI | dbmPercent) > 75"></i>
                      {{ arduino.RSSI }} dBm {{ arduino.RSSI | dbmPercent }}%
                    </small>
                    <br/>
                    <small class="text-muted" ng-show="(!site.https && arduino.secure)">&nbsp;You should use https <a ng-href="{{site.https_url}}">{{site.https_url}}</a><br/></small>
                    <small class="text-muted" ng-show="(!arduino.status.error && arduino.status.dt)">&nbsp;Last reported: {{arduino.status.dt | moment}}<br/></small>
                    <small class="text-danger" ng-show="(!!arduino.status.error)">&nbsp;Error reported: {{arduino.status.dt | moment}} {{arduino.status.error}}<br/></small>
                    <small class="text-muted" ng-show="(arduino.status.message)">&nbsp;{{arduino.status.message}}<br/></small>
                  </td>
                  <td>
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                      <button type="button" class="btn" ng-class="{'btn-success':pkg.sketch_version==arduino.version, 'btn-warning':pkg.sketch_version!=arduino.version}" ng-click="openSketches()"> {{arduino.version}}</button>
                      <button type="button" ng-show="!arduino.version" class="btn" ng-class="{'btn-danger':!!arduino.status.error, 'btn-secondary': !arduino.status.error}" ng-click="arduinos.connect(arduino)"> Connect</button>
                      <button type="button" ng-show="arduino.version" class="btn btn-secondary" ng-click="arduinos.connect(arduino)"> <i class="fas fa-sync-alt"></i></button>
                      <button type="button" class="btn btn-danger" ng-click="arduinos.reboot(arduino)"> <i class="fas fa-power-off"></i></button>
                    </div>
                    <small ng-show="arduino.version && pkg.sketch_version!=arduino.version">
                      <a href="" ng-click="openSketches()">{{ pkg.sketch_version }} is Available</a>
                    </small>
                  </td>
                  <!-- <td class="text-left">
                    <input class="form-control" type="password" ng-model="arduino.password" ng-change="arduinos.update(arduino)"></input>
                  </td> -->
                  <td class="text-left"><input class="form-control" type="number" step="1" min="0" ng-model="arduino.analog" ng-change="arduinos.update(arduino)"></td>
                  <td class="text-left"><input class="form-control" type="number" step="1" min="0" ng-model="arduino.digital" ng-change="arduinos.update(arduino)"></td>
                  <td class="text-left"><input class="form-control" type="number" step="1" min="0" ng-model="arduino.adc" ng-change="arduinos.update(arduino)"></td>
                  <td><a href="" ng-click="arduinos.delete($index, arduino)"><i class="fas fa-trash-alt fa-2x text-danger"></i></a></td>
                </tr>
              </tbody>
            </table>
          </div>
          </div>
        </div>

        <div class="pb-3">
          <h4>TP-Links
            <sup class="badge badge-{{ getStatusClass(settings.tplink.status) }} badge-pill">
              {{ settings.tplink.status || 'Not Connected'}}
            </sup>
            <i class="fas fa-plug fa-lg float-right" aria-hidden="true"></i>
          </h4>
          <div class="block-border">
            <div class="row">
              <div class="col-6">
                <label class="adjust">Email</label>
                <input class="form-control" type="text" ng-model="settings.tplink.user" placeholder="Email">
              </div>
              <div class="col-6">
                <label class="adjust">Password</label>
                <input class="form-control" type="password" ng-model="settings.tplink.pass" placeholder="Password">
              </div>
            </div>
            <div class="btn-group float-right pb-2">
              <button type="button" ng-if="settings.tplink.token" class="btn btn-light" style="margin-top: 5px;" ng-click="tplink.scan()">Scan</button>
              <button type="button" class="btn btn-primary" style="margin-top: 5px;" ng-click="tplink.login()">Connect</button>
            </div>
            <div class="table-responsive">
            <table class="table table-striped tplinks">
              <thead class="thead-dark">
                <tr>
                  <th>Online</th>
                  <th>Name</th>
                  <th>Type</th>
                  <th>Power</th>
                  <th>On/Off</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="tp in settings.tplink.plugs | orderBy:'alias'">
                  <td><i class="fas fa-circle fa-lg" ng-class="{'on':!!tp.status, 'off':!tp.status}" aria-hidden="true"></i></td>
                  <td>{{ tp.alias }}</td>
                  <td>
                    {{ tp.deviceModel }}
                    <br/><small class="text-muted">{{tp.deviceName}}</small>
                  </td>
                  <td>
                    <span ng-if="tp.power" class="text-muted">
                      Current: {{tp.power.current | number:2}} A<br/>
                      Power: {{tp.power.power | number:2}} w<br/>
                      Total: {{tp.power.total | number:2}} kWh<br/>
                      Voltage: {{tp.power.voltage | number:2}} V
                    </span>
                  </td>
                  <td>
                    <a href=""
                      ng-if="!!tp.status"
                      ng-click="tplink.toggle(tp)"
                      ng-class="{'on':!!tp.info.relay_state,'off':!tp.info.relay_state}">
                    <i class="fas fa-power-off fa-lg" ng-class="{'on':!!tp.info.relay_state,'off':!tp.info.relay_state}"></i>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
</div>
</div>
