<div class="modal fade" id="shareModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title"><i class="fas fa-share fa-lg" aria-hidden="true"></i> Share <sup class="ref">your session</sup></h1>
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body text-center">
        <div class="alert alert-info">
          <strong>Access?</strong>  Are your Arduino URLs remotely accessible?
          <br>Your IP address is <strong>{{settings.ipAddress}}</strong> <a href="#" class="btn btn-light" ng-click="getIPAddress()">Lookup IP Address</a>
        </div>
        <table class="table">
          <tr ng-repeat="arduino in settings.arduinos track by $index">
            <td class="text-left">{{arduino.url}}</td>
            <td class="text-right"><i class="fas " ng-class="{'fa-circle-o-notch fa-spin fa-2x':!!arduino.testing, 'fa-check-circle fa-2x':!!arduino.public, 'fa-times-circle fa-2x':arduino.public === false}" aria-hidden="true"></i></td>
            <td class="text-right"><button class="btn btn-primary" ng-click="shareTest(arduino);" ng-disabled="arduino.testing">Test</button></td>
          </tr>
        </table>
        <form name="shareForm">
          <div class="form-group">
            <input type="text" class="form-control" ng-model="settings.recipe.brewer.name" placeholder="Name" required/>
          </div>
          <div class="form-group">
            <input type="email" class="form-control" ng-model="settings.recipe.brewer.email" placeholder="Email" required/>
          </div>
          <div class="form-group">
            <input type="password" class="form-control" ng-model="share.password" placeholder="Optional share password"/>
          </div>
          <div class="form-group">
            <input type="number" class="form-control" ng-model="share.deleteAfter" value="14"/>
            <small class="form-text text-muted pull-left">
              Days to delete share after
            </small>
          </div>
          <br/>
          <div class="form-group">
            <select class="form-control" ng-model="share.access">
              <option value="readOnly" selected="selected">Read Only</option>
              <option value="fullAccess">Full Access</option>
            </select>
            <small class="form-text text-muted pull-left">
              Share access
            </small>
          </div>
          <br/>
          <button class="btn btn-primary" ng-click="createShare()" ng-disabled="shareForm.$pristine || shareForm.$invalid">Create Share Link</button>
        </form>
        <br>
        <div class="alert alert-danger alert-dismissible" role="alert" ng-if="share_success===false">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <strong>Failed!</strong> {{share_status}}
        </div>

        <div class="alert alert-info alert-dismissible" role="alert" ng-if="share_status">
          {{share_status}}
        </div>

        <div class="alert alert-success alert-dismissible" role="alert" ng-if="share_link">
          <strong>Success!</strong> Share created: <a ng-href="{{share_link}}" target="_blank">{{share_link}}</a>
        </div>

      </div>
    </div>
  </div>
</div>
